<br>
<div class="card">
  <div class="card-header">
           <div class="d-flex justify-content-around align-items-center">
               <div class="p-0">
                    Billing Table Color Codes
               </div>
                <div class="p-0">
                    <select class="mdb-select md-form" name="vidbox" onchange="this.form.submit()">
                        <option value="" disabled selected>Billing Tutorials</option>
                        <option value="1">Overview</option>
                        <option value="2">Billing Tables</option>
                        <option value="3">BillingFlow Example</option>
                        <option value="4">Making New Bills</option>
                        <option value="5">Modifying Bills</option>
                        <option value="6">Paying Bills</option>
                        <option value="7">Deleting Items</option>
                    </select>
                </div>
           </div>

  </div>
  <div class="card-body">

          <table class="table table-striped table-bordered table-sm w-auto">
            <thead>
            <tr>
              <td align="center" class="white red-text font-weight-bold">Status of Payments</td>
            </tr>
            </thead>
            <tbody>
                <tr>
              <td align="center" class="yellow font-weight-bold">Bill Entered By Automation</td>
            </tr>
            <tr>
              <td align="center" class="white font-weight-bold">Bill Entered But Not Due or Paid</td>
            </tr>
            <tr>
              <td align="center" class="amber font-weight-bold">Bill is Due within 7 Days</td>
            </tr>
            <tr>
              <td align="center" class="red text-white font-weight-bold">Bill is now Overdue</td>
            </tr>
            <tr>
              <td align="center" class="green text-white font-weight-bold">Bill has been Paid</td>
            </tr>
            </tbody>
          </table>
  </div>

</div>
