<table>
        <tr>
                <td><div class="input-group-text">WksBef</div></td>
                <td><input class="form-control" type="text" name="wbef" value={{nweeks[0]}}></td>
        </tr>
        <tr>
                <td><div class="input-group-text">WksAft</div></td>
                <td><input class="form-control" type="text" name="waft" value={{nweeks[1]}}></td>
        </tr>
        <tr>
            <td>
                <button type="submit" class="btn btn-elegant btn-sm" name="calupdate">Update</button>
            </td>
            <td>
                <button type="submit" class="btn btn-blue btn-sm" name="Return">Return</button>
            </td>
        </tr>   
</table>