<table class="table table-striped table-condensed table-hover">
                <tr align="center">
                    <td><button type="submit" class="btn btn-group-small btn-indigo my-small-btn" name="Match">Match</button></td>
                    <td><button type="submit" class="btn btn-group-small btn-indigo my-small-btn" name="Modify">qMod</button></td>
                    <td><button type="submit" class="btn btn-group-small btn-indigo my-small-btn" name="Vmod">vMod</button></td>
                </tr>
                   <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="Dockr">DockR</button> </td>
                    <td> <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="MakeI">iMake</button> </td>
                    <td> <button type="submit" class="btn btn-group-small btn-danger my-small-btn" name="Delete">DEL</button></td>
                </tr>
                <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button type="submit" class="btn btn-group-small btn-unique my-small-btn" name="ViewD">dView</button></td>
                    <td> <button type="submit" class="btn btn-group-small btn-unique my-small-btn" name="ViewI">iView</button></td>
                    <td> <button type="submit" class="btn btn-group-small btn-unique my-small-btn" name="ViewO">oView</button></td>

                </tr>
                <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="copy">Copy</button></td>
                    <td> <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="NewJ">NewJ</button></td>
                    <td> <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="addentity">Add-E</button></td>
                </tr>
                    <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="RecPay">Rec$</button></td>
                    <td>   <button class="btn btn-group-small btn-green my-small-btn" type ="submit" name="incoming_O">PayB</button></td>
                    <td> <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="HisPay">His$</button></td>
                </tr>
                <tr><td colspan='3'>&nbsp</td></tr> 
    
                <tr align="center">
                              

                    <td> <button class="btn btn-group-small btn-danger my-small-btn" type ="submit" name="UnInv">UnRec</button></td>
                    <td> <button class="btn btn-group-small btn-danger my-small-btn" type ="submit" name="UnPay">UnPay</button></td>
                    <td> <button class="btn btn-group-small btn-danger my-small-btn" type ="submit" name="UnMatch">UnMat</button></td>
                </tr>
                <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">         
                    <td> <button class="btn btn-group-small btn-green my-small-btn" type ="submit" name="Release">J-Rel</button></td>
                    <td> <button class="btn btn-group-small btn-blue my-small-btn" type ="submit" name="Rtog">R-Tog</button></td>
                    <td> <button class="btn btn-group-small btn-blue my-small-btn" type ="submit" name="Slim">Slim</button></td>
                </tr>
                    
                <tr><td colspan='3'>&nbsp</td></tr>
    
                <tr align="center">         
                    <td> <button class="btn btn-group-small btn-amber my-small-btn" type ="submit" name="Calendar">Caldr</button></td>
                    <td> <button class="btn btn-group-small btn-blue my-small-btn" type ="submit" name="Return">Return</button></td>
                    <td> <button class="btn btn-group-small btn-green my-small-btn" type ="submit" name="Onway">Onway</button></td>
                </tr>
</table>