<div class="card">
  <div class="card-header">
    Step 1: Add Jays Auto Sales Items or Delete as Needed
  </div>
  <div class="card-body" align="center">
    <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="addentity"
      data-toggle="tooltip" title="If CUSTOMER does not already exist add them into database">New<br>Customer</button>
    <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="NewJ"
      data-toggle="tooltip" title="Add a NEW JOB from scratch here">   New<br>&nbsp &nbsp Job &nbsp &nbsp  </button>
    <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="copy"
      data-toggle="tooltip" title="An easy way to enter a NEW JOB is to COPY a similar existing one">Copy<br>Item</button>
    <button type="submit" class="btn btn-group-small btn-danger my-small-btn" name="Delete"
      data-toggle="tooltip" title="Any item that needs to be removed from any table can be selected and DELETED">DELETE<br>Item</button>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Step 2: Modify Selected Items and Match Across Tables
  </div>
  <div class="card-body" align="center">
      <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="Match"
        data-toggle="tooltip" title="MATCH is used to connect selections from different tables">Match<br>Items</button>
      <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="Vmod"
        data-toggle="tooltip" title="MODIFY information associated with any selected item">Modify<br>Item</button>
      <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="accept"
        data-toggle="tooltip" title="Automated entries appear in yellow, check this information and ACCEPT them once reviewed">ACCEPT<br>Items</button>
        <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="ViewO"
          data-toggle="tooltip" title="View the Source Document for an Item">Source<br>Document</button>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Step 3: Create and Email Invoices
  </div>
  <div class="card-body" align="center">
      <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="MakeI"
        data-toggle="tooltip" title="Create and Edit an Invoice">Invoice<br>Editor</button>
      <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="MakeP"
        data-toggle="tooltip" title="Develop an Invoice Packaged with POD and other Materials">Package<br>Editor</button>
        <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="ViewI"
        data-toggle="tooltip" title="View the Latest Invoice for a Job">View<br>Invoice</button>
        <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="ViewP"
        data-toggle="tooltip" title="View the Latest Invoice Package for a Job">View<br>Package</button>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Step 4: Receive Money for Jobs and Correct Payments as Needed
  </div>
  <div class="card-body" align="center">
        <button type="submit" class="btn btn-group-small btn-green my-small-btn" name="RecPay"
        data-toggle="tooltip" title="Receive money and apply toward a selected Job/Invoice">Recieve<br>Money</button>
        <button type="submit" class="btn btn-group-small btn-mdb-color my-small-btn" name="payview"
        data-toggle="tooltip" title="View the Paid version of the Invoice for a Job">View Paid<br>Invoice</button>
       <button class="btn btn-group-small btn-amber my-small-btn" type ="submit" name="Calendar"
        data-toggle="tooltip" title="View the Calendar format for past, current, and future Jobs">Job<br>Calendar</button>
       <button class="btn btn-group-small btn-blue my-small-btn" type ="submit" name="addservice"
        data-toggle="tooltip" title="Return to Standard Table View without Performing any Functions">Add<br>Services</button>
       <button class="btn btn-group-small btn-danger my-small-btn" type ="submit" name="Unpay"
        data-toggle="tooltip" title="Remove the recorded payment and return Job status to unpaid">Undo A<br>Payment</button>
  </div>
</div>
