<tr><td>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="dC1" {% if clist[3]=='on' %} checked {% endif %} name="dc1" onchange="this.form.submit()">
  <label class="custom-control-label" for="dC1">JO</label>
</div>
    </td><td>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="dC2" {% if clist[4]=='on' %} checked {% endif %} name="dc2" onchange="this.form.submit()">
  <label class="custom-control-label" for="dC2">Order</label>
</div>
        </td><td>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="dC3" {% if clist[5]=='on' %} checked {% endif %} name="dc3" onchange="this.form.submit()">
  <label class="custom-control-label" for="dC3">Booking</label>
</div>
        
</td></tr>
<tr><td>
    
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="dC4" {% if clist[6]=='on' %} checked {% endif %} name="dc4" onchange="this.form.submit()">
  <label class="custom-control-label" for="dC4">Container</label>
</div>
    </td><td>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="dC5" {% if clist[7]=='on' %} checked {% endif %} name="dc5" onchange="this.form.submit()">
  <label class="custom-control-label" for="dC5">BOL</label>
</div>
        </td><td>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="dC6" {% if clist[8]=='on' %} checked {% endif %} name="dc6" onchange="this.form.submit()">
  <label class="custom-control-label" for="dC6">OpenOnly</label>
</div>
    
</td></tr>
