<table>
   <tr>
       <td colspan="3">
            <div class="input-group-text">{{htype}} {{modata.Jo}}</div>
       </td>
   </tr>
   <tr>
       <td>
           <button type="submit" class="btn btn-elegant btn-sm" name="{{update}}">Update<br>Data</button>
       </td>
       <td>
           <button type="submit" class="btn btn-green btn-sm" name="emailInvo">Log &<br>Email</button>
       </td>
       <td>
           <button type="submit" class="btn btn-green btn-sm" name="{{logonly}}">Log<br>Only</button>
       </td>
        <td>
            <button class="btn  btn-blue btn-sm" type ="submit" name="Return">Return<br>No Log</button>
       </td>
        </tr>
   </table>
<input type = "hidden" name="inco" value="{{inco}}">
<input type = "hidden" name="invo" value="{{invo}}">
<input type = "hidden" name="invooder" value="{{invooder}}">
