<div class="card">
  <div class="card-body bg-dark text-white">
  Choose what records to see and how far back you want to go<br>
          <select class="form-control align-text-botton" type="text" name="thismuch" onchange="this.form.submit()">
              <option {% if thismuch == '1' %} selected {% endif %} value='1'>Last 60 Days</option>
              <option {% if thismuch == '2' %} selected {% endif %} value='2'>Last 120 Days</option>
              <option {% if thismuch == '3' %} selected {% endif %} value='3'>Uninvoiced</option>
              <option {% if thismuch == '4' %} selected {% endif %} value='4'>Unpaid</option>
              <option {% if thismuch == '5' %} selected {% endif %} value='5'>Show All</option>
          </select>
    </div>
</div>
