<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline1" {% if dlist[0]=='on' %} checked {% endif %} name="datatable1" onchange="this.form.submit()">
  <label class="custom-control-label" for="defaultInline1">Dealership</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline2" {% if dlist[1]=='on' %} checked {% endif %} name="datatable2" onchange="this.form.submit()">
  <label class="custom-control-label" for="defaultInline2">Autos</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="defaultInline3" {% if dlist[2]=='on' %} checked {% endif %} name="datatable3" onchange="this.form.submit()">
  <label class="custom-control-label" for="defaultInline3">Entities</label>
</div>
