<div class="card">
     <div class="card-body bg-info text-white">
        View a How-To Tutorial<br>
        <select class="form-control align-text-botton" type="text" name="videos" onchange="window.open(this.value)">
            <option  value="//www.youtube.com/embed/VoIpGijFC3Y?rel=0">Trucking Overview</option>
             <option value="//www.youtube.com/embed/VoIpGijFC3Y?rel=0">Modify Items</option>
             <option value="//www.youtube.com/embed/VoIpGijFC3Y?rel=0">Create Invoices</option>
             <option value="//www.youtube.com/embed/VoIpGijFC3Y?rel=0">Recieve Payments</option>
             <option value="//www.youtube.com/embed/VoIpGijFC3Y?rel=0">Undo Things</option>
        </select>
     </div>
</div>