<div class="card">
    <div class="card-header bg-info text-white">
        Upload Source for Order:{{modata.Order}} Company:{{modata.Shipper}}
    </div>
    <div class="card-body" align = "center">

    <dl>
        <p>
        <input type="file" name="sourceupload" autocomplete="off">
        </p>
    </dl><p>
    <input type="submit" value="Upload Now">
    </p>
    </div>
</div>
<br><br>

<div class="card" align="center">
    <div class="card-body" align = "center">
            <div class="container" align="center">
                <div class="droparea1" >(Optional) Drop Here</div>
                <div class="tablearea" id="tablearea"></div>
            </div>
    </div>
</div>

<input type = "hidden" name="passmodlink" value="{{modlink}}">
<input type = "hidden" name="passoder" value="{{oder}}">
