{% extends 'A_layout_portal.html' %}
{% block body %}
<form action="{{ url_for ('Billing') }}" method="post" enctype="multipart/form-data">
<div class="table-responsive">

    <div class="row">

        <div class="col-sm-{{leftsize}}" align="center">

                        {% if leftscreen == 0 %}
                            {% include 'Billing_Preamble.html' %}

                        {% elif leftscreen == 2 %}
                            {% include 'includes/_calendarB.html' %}
                            <input type = "hidden" name ="datatable1" value= "{{dlist[0]}}">
                            <input type = "hidden" name ="datatable2" value= "{{dlist[1]}}">

                        {% else %}

                                {% include 'Billing_Tables.html' %}

                                {% if dlist[0]!= 'on' and dlist[1]!= 'on'%}
                                    <div class="row">
                                        <div class="col-sm-12" align="center">
                                         {% include 'includes/_tablespanelB.html' %}
                                        </div>
                                    </div>
                                {% endif %}
                        {% endif %}
        </div>

        <div class="col-sm-{{rightsize}}" align = "left">
                    <div class="row">
                        <div class="col-sm-12" align="center">
                            modlink = {{ modlink }}{{ bill }}{{ peep }}{{ hv[0] }}{{ rightsize }}

                                                {% if modlink==70 %}
                                                    A
                                                    {% include 'includes/_uploadsourcedocs.html' %}

                                                {% elif modlink==71 %}
                                                    B
                                                    {% include 'includes/_uploadproofdocs.html' %}


                                                {% elif leftscreen == 2 %}
                                                   {% include 'includes/_button_cal.html' %}

                                                {% elif modlink==3 and peep==0 %}
                                                    {% include 'Xfer_Form_New.html' %}

                                                {% elif modlink==4 and peep==0 %}
                                                    {% include 'Billing_Form_New.html' %}

                                                {% elif (peep > 0 and modlink == 1) or modlink == 9 or modlink == 8 %}
                                                    yes, modlink = {{ modlink }}
                                                    {% include 'Form_Vendor_New.html' %}

                                                {% elif (bill > 0 and modlink == 1) or modlink == 7 or modlink == 6 %}
                                                    {% include 'Billing_Form_Mod.html' %}

                                                {% else  %}
                                                    <br>
                                                    {% include 'includes/_controlpanelheader.html' %}
                                                    {% set viewtype = hv[2] %}

                                                    {% if modlink == 0 and viewtype == 0%}
                                                        {% include 'includes/_billcolorcode.html' %}
                                                    {% else %}
                                                        {% include 'includes/_button_upd_ret.html' %}
                                                    {% endif %}

                                                {% endif %}

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <br><br><br><br><br><br>
                            {% include 'Debugtable.html' %}
                        </div>
                    </div>

        </div>
    </div>
</div>

<input type = "hidden" name ="passthismuch" value= {{hv[1]}}>
<input type = "hidden" name ="modlink" value= {{modlink}}>
<input type = "hidden" name ="peep" value= {{peep}}>
<input type = "hidden" name ="bill" value= {{bill}}>
<input type = "hidden" name ="pbill" value= {{pb}}>
<input type = "hidden" name ="passco" value= {{hv[0]}}>


</form>

{% endblock %}
