{% extends 'A_layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('IncomeMaint') }}" method="post">
<div class="table-responsive">
<div class="row">

<div class="col-sm-{{leftsize}}">

{% if leftscreen == 0 %}

    <div class="row">
        <div class="col-sm-12" align="right">
        Looking for: {{docref}}<br>

        <embed src="{{docref}}" width="600px" height="800px"/>
        </div>
    </div>
{% else %}

  <div class="row">
    <div class="col-sm-12" align="center" style="font-weight:bold"> Revenues and Deposits </div>
  </div>
  <div class="row">
    <div class="col-sm-12" align="center">
      {% set atc = "font-weight-bold text-center" %}
      {% set atlb = "font-weight-bold text-left blue-text" %}
      {% set atl = "font-weight-bold text-left" %}
      {% set atr = "font-weight-bold text-right" %}
        <table id="dtHorizontalVerticalExample1" class="table table-striped table-bordered  w-auto" cellspacing="0" width="100%">
            <thead>
           <tr align="center" style="font-weight:bold; background-color:linen" >

                <th class="{{atc}}">Id</th>
                <th class="{{atc}}">Jo</th>
                <th class="{{atc}}">Received Into</th>
                <th class="{{atc}}">Date</th>
                <th class="{{atc}}">From</th>
                <th class="{{atc}}">Description</th>
                <th class="{{atc}}">Ck</th>
                <th class="{{atc}}">Amount</th>
                <th class="{{atc}}">Ref</th>
                <th class="{{atc}}">Moved To</th>
                <th class="{{atc}}">Date Deposited</th>
                <th class="{{atc}}">Deposit Ticket</th>
            </tr>
            </thead>
            <tbody>
            {% for data in data1 %}
            <tr>

                <td class="{{atc}}">{{ data.id }}</td>
                <td class="{{atc}}">{{ data.Jo }}</td>
                <td class="{{atc}}">{{ data.Account}}</td>
                <td class="{{atc}}">{{ data.Date }}</td>
                <td class="{{atc}}">{{ data.From }}</td>
                <td class="{{atl}}">{{ data.Description }}</td>
                <td align="center"><input class="align-middle" type="checkbox" name="oder{{data.id}}" value="{{data.id}}"></td>
                <td class="{{atr}}">$ {{ data.Amount }}</td>
                <td class="{{atlb}}">&nbsp;&nbsp;{{ data.Ref }}</td>
                <td class="{{atc}}">{{ data.Bank }}</td>
                <td class="{{atc}}">{{ data.Date2 }}</td>
                <td class="{{atc}}">{{ data.Depositnum }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}

</div>





<div class="col-sm-{{rightsize}}">
       <div class="row">
           <div class="col-sm-12">
           <br>
            {% include 'includes/_controlpanelheader.html' %}
            {% if modlink != 1 and modlink != 10 %}
               {% include 'includes/_controlpanel_Inc.html' %}
            {% endif %}

            {% if modlink == 1 or modlink == 10 %}

               {% include 'includes/_button_upd_ret.html' %}
                <table class="table table-condensed table-hover">
                    <tbody>
                    <tr>
                        <td> <div class="input-group-text">Jo:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Jo}}" name="jo"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Received Into:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Account}}" name="account"></td>
                    </tr>

                    <tr>
                        <td> <div class="input-group-text">From:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.From}}" name="from"></td>
                    </tr>

                    <tr>
                        <td> <div class="input-group-text">Date:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value="{{modata.Date}}" name="pdate"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Description:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Description}}" name="description"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Amount:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Amount}}" name="amount"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Reference:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Ref}}" name="ref"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Original:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Original}}" name="original"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Bank To:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Bank}}" name="bank"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Deposit Date:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value="{{modata.Date2}}" name="depdate"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Deposit Ref:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value="{{modata.Depositnum}}" name="depositnum"></td>
                    </tr>
                    </tbody></table>
                    <input type = "hidden" name ="oder" value= {{oder}}>
                {% endif %}




           </div></div>



</div>



</div>
</div>

{{oder}}
{{modlink}}
cache = {{cache}}
acdeposit = {{depdata[0]}}
thismuch = {{thismuch}}
depojo = {{depdata[2]}}
cofor = {{depdata[1]}}
depdate = {{depdata[3]}}
<input type = "hidden" name ="thismuch" value= "{{thismuch}}">
<input type = "hidden" name ="depojo" value= "{{depdata[2]}}">
<input type = "hidden" name ="cofor" value= "{{depdata[1]}}">
<input type = "hidden" name ="acdeposit" value= "{{depdata[0]}}">
<input type = "hidden" name ="depdate" value= "{{depdata[3]}}">
<input type = "hidden" name ="oder" value= "{{oder}}">
<input type = "hidden" name ="modlink" value= "{{modlink}}">
<input type = "hidden" name ="cache" value= "{{cache}}">
</form>

{% endblock %}
