{% extends 'A_layout_portal.html' %}
{% block body %}
<form action="{{ url_for ('OverseasV') }}" method="post">
<div class="table-responsive">
<div class="row">
    <div class="col-sm-{{leftsize}}">
        {% if leftscreen == 0 %}
                {% include 'Overseas_preamble.html' %}
        {% elif leftscreen == 2 %}
                {% include 'includes/_calendarO.html' %}
                <input type = "hidden" name ="datatable1" value= "{{dlist[0]}}">
                <input type = "hidden" name ="datatable2" value= "{{dlist[1]}}">
                <input type = "hidden" name ="datatable3" value= "{{dlist[2]}}">
                <input type = "hidden" name ="datatable4" value= "{{dlist[3]}}">
                <input type = "hidden" name ="datatable5" value= "{{dlist[4]}}">
        {% else %}
                {% if stayslim== 0 %}
                    {% set dt1='dtHorizontalVerticalExample1' %}
                    {% set dt2='dtHorizontalVerticalExample2' %}
                    {% set dt3='dtHorizontalVerticalExample3' %}
                    {% set dt4='dtHorizontalVerticalExample4' %}
                    {% set dt5='dtHorizontalVerticalExample5' %}
                {% else %}
                    {% set dt1='dtH1' %}
                    {% set dt2='dtH2' %}
                    {% set dt3='dtH3' %}
                    {% set dt4='dtH4' %}
                    {% set dt5='dtH5' %}
                {% endif %}

                {% include 'Overseas_tables.html' %}

                {% if dlist[0]!= 'on' and dlist[1]!= 'on' and dlist[2]!= 'on' and dlist[3]!= 'on' and dlist[4]!= 'on'%}
                    <div class="row">
                        <div class="col-sm-12" align="center">
                         {% include 'includes/_tablespanelO.html' %}
                        </div>
                    </div>
                {% endif %}
        {% endif %}
    </div>

    <div class="col-sm-{{rightsize}}">
       <div class="row">
           <div class="col-sm-12">

            {% if modlink==1 or modlink==4 or modlink==2 or modlink==80 %}
               {% include 'includes/_button_upd_ret.html' %}
            {% elif ondock==1 %}
                {% include 'Overseas_Dockmod.html' %}

            {% elif leftscreen == 2 %}

                {% include 'includes/_button_cal.html' %}

            {% elif inco>0 %}
                <table>
                    <tr><td colspan="3"><div class="input-group-text">Modify Payment Received {{modata.Jo}}</div></td>
                    </tr>
                    <tr>
                       <td><button type="submit" class="btn btn-elegant btn-sm" name="recUpdate">Update</button></td>
                       <td><button type="submit" class="btn btn-dark-green btn-sm" name="emailInvo">Email</button></td>
                       <td><button type="submit" class="btn btn-dark-green btn-sm" name="emailInvo2">EmlMe</button></td>
                       <td><button class="btn btn-blue btn-sm" type ="submit" name="Return">Return</button></td>
                   </tr>
                </table>
                <input type = "hidden" name="inco" value="{{inco}}">

            {% elif invo>0 %}
                <table>
                    <tr><td colspan="3"><div class="input-group-text">Modify Invoice Data for JO {{modata.Jo}}</div></td>
                    </tr>
                    <tr>
                       <td><button type="submit" class="btn  btn-elegant btn-sm" name="invoUpdate">Update</button></td>
                       <td><button type="submit" class="btn  btn-dark-green btn-sm" name="emailInvo">Email</button></td>
                       <td><button type="submit" class="btn  btn-dark-green btn-sm" name="emailInvo2">EmlMe</button></td>
                       <td><button class="btn btn-blue btn-sm" type ="submit" name="Return">Return</button></td>
                   </tr>
                </table>
            {% else %}
                <br>
               {% include 'includes/_controlpanelheader.html' %}
               {% include 'includes/_truckcolorcode.html' %}
               <input type = "hidden" name="passmodlink" value="{{modlink}}">
               <input type = "hidden" name="stayslim" value="{{stayslim}}">
               <br>

           {% endif %}
           </div>
       </div>


       <div class="row">
           <div class="col-sm-12">
                 {% if invo > 0 and ldata %}
                        <table class="table table-condensed table-hover">
                            <tbody>
                            <tr><td><div class="input-group-text">Invoice Date:</div></td><td><input class="form-control" type="date" value={{invodate}} name="invodate"></td></tr>
                            {% for data in ldata %}
                            <tr><td><div class="input-group-text">Item:</div></td><td><div class="input-group-text">{{data.Service}}</div></td></tr>
                            <tr><td><div class="input-group-text">Quantity:</div></td><td><input class="form-control" type="text" value={{data.Qty}} name="qty{{data.id}}"></td></tr>
                            <tr><td><div class="input-group-text">Cost Each:</div></td><td><input class="form-control" type="text" value={{data.Ea}} name="cost{{data.id}}"></td></tr>
                                <tr><td><div class="input-group-text">Description:</div></td><td><textarea class="form-control" type="text" name="desc{{data.id}}" rows="2">{{data.Description}}</textarea></td></tr>
                            {% endfor %}
                        </tbody></table>
                        <input type = "hidden" name ="invooder" value= {{invooder}}>
                        <input type = "hidden" name ="invo" value= {{invo}}>
                        <input type = "hidden" name ="odor" value= {{odor}}>
                        <input type = "hidden" name ="cache" value= {{cache}}>
                {% endif %}

               {% if inco > 0 %}
                    <table class="table table-condensed table-hover">
                        <tbody>
                        <tr>
                            <td> <div class="input-group-text">Amount:</div></td>
                            <td colspan="2"><input class="form-control" type="text" value={{modata.Amount}} name="recamount"></td>
                        </tr>
                        <tr>
                            <td> <div class="input-group-text">Customer Ref#:</div></td>
                            <td colspan="2"><input class="form-control" type="text" value="{{modata.Ref}}" name="custref"></td>
                        </tr>
                        <tr>
                            <td><div class="input-group-text">Description:</div></td>
                            <td><textarea class="form-control" type="text" name="desc" rows="2">{{modata.Description}}</textarea></td></tr>
                        <tr>
                            <td> <div class="input-group-text">Date:</div></td>
                            <td colspan="2"><input class="form-control" type="date" name="recdate" value={{modata.Date}}></td>
                        </tr>
                    </tbody></table>
                    <input type = "hidden" name ="invooder" value= {{invooder}}>
                    <input type = "hidden" name ="invo" value= {{invo}}>
                    <input type = "hidden" name ="ship" value= {{ship}}>
                    <input type = "hidden" name ="cache" value= {{cache}}>
                    <input type = "hidden" name ="inco" value= {{inco}}>
                {% endif %}

                {% if modlink==7 %}
                    {% include 'Overseas_Bill_His.html' %}
                {% endif %}

                {% if (ship > 0 and modlink == 1) or modlink==4 %}
                    {% include 'Overseas_Shipmod.html' %}
                {% endif %}

                {% if book > 0 and modlink > 0 %}
                    {% include 'Overseas_Bookmod.html' %}
                {% endif %}

                {% if peep > 0 and modlink > 0 %}
                    {% include 'Overseas_Peepmod.html' %}
                {% endif %}

                {% if auto > 0 and modlink > 0 %}
                    {% include 'Overseas_Automod.html' %}
                {% endif %}

                {% if tick > 0 and modlink == 1 %}
                    {% include 'Interchangemod.html' %}
                {% endif %}

                {% if modlink == 80 %}
                      <div class="input-group-text">VIN:</div>
                      <input class="form-control" type="text"  name="vintoget">
                {% endif %}

                {% include 'Debugtable.html' %}

           </div>
       </div>
    </div>
</div>
</div>

<input type = "hidden" name="passmodlink" value="{{modlink}}">
<input type = "hidden" name ="keepship" value= {{keepship}}>
<input type = "hidden" name ="thismuch" value= "{{thismuch}}">
</form>

{% endblock %}
