{% extends 'A_layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('QuoteMaker') }}" method="post">
<div class="table-responsive">
<div class="row">

{% set etype = 'Quote' %}

{% if taskbox == 1 or taskbox == 5%}
        <div class="col-sm-4" align="left">
            {% include 'includes/emailprep.html' %}

             <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="box1" {% if tbox[0]=='on' %} checked {% endif %} name="chassis-2">
              <label class="custom-control-label" for="box1">Chassis 2-axle</label>
            </div>
            <div class="custom-control custom-checkbox custom-control-inline">
              <input type="checkbox" class="custom-control-input" id="box2" {% if tbox[0]=='on' %} checked {% endif %} name="chassis-2">
              <label class="custom-control-label" for="box2">Chassis 2-axle</label>
            </div>



            Put some buttons here for the table.
            <div class="card" align=""left">
                <div class = "card-header">
                    Preview
                </div>
                <div class="card-body">
                {{ emaildata[1]|safe }}
                </div>
            </div>
        </div>

        <div class="col-sm-4" align="left">
        <br>
        {% if expdata %}
            <div class="card">
              <div class="card-header">
                Experienced-Based Cost Rates
              </div>
            <div class="card-body">
                <table class="table table-condensed table-hover">
                    <tbody>
                  <tr>
                      <td><b>Driver Rate</b></td><td><b>Fuel Rate</b></td><td><b>MD Toll Rate</b></td><td><b>Insur Rate</b></td><td><b>R&M Rate</b></td><td><b>LicFeeReg Rate</b></td><td><b>G&A Rate</b></td>
                  </tr>
                      <td>$/hr</td><td>$/mile</td><td>$/entry</td><td>$/hr</td><td>$/mile</td><td>$/mile</td><td>%</td>
                 </tr>
                  <tr>
                      <td>{{ expdata[0] }}</td><td>{{ expdata[1] }}</td><td>{{ expdata[2] }}</td><td>{{ expdata[3] }}</td><td>{{ expdata[4] }}</td><td>{{ expdata[5] }}</td><td>{{ expdata[6] }}</td>
                 </tr>
                </tbody>
            </table>
            </div></div>
        {% endif %}
        <br>
        {% if timedata %}
            <div class="card">
              <div class="card-header">
                Time and Distance Calculations for Load Quote
              </div>
            <div class="card-body">
            <table class="table table-condensed table-hover">
                    <tbody>
                  <tr>
                      <td> </td><td><b>Round Trip</b></td><td><b>Port</b></td><td><b>Load</b></td><td><b>Glide</b></td><td><b>Total</b></td>
                  </tr>
                  <tr>
                      <td>Time (hours)</td><td>{{ timedata[0] }}</td><td>{{ timedata[1] }}</td><td>{{ timedata[2] }}</td><td>{{ timedata[3] }}</td><td>{{ timedata[4] }}</td>
                 </tr><tr>
                      <td>Dist (miles)</td><td>{{ distdata[0] }}</td><td>{{ distdata[1] }}</td><td>{{ distdata[2] }}</td><td>{{ distdata[3] }}</td><td>{{ distdata[4] }}</td>
                 </tr>
                </tbody>
            </table>
             </div></div>
        {% endif %}
        <br>
        {% if costdata %}
                <div class="card">
              <div class="card-header">
                Cost Component Calculations for Load Quote
              </div>
            <div class="card-body">
            <table class="table table-condensed table-hover">
                    <tbody>
                  <tr>
                      <td><b>Driver Cost</b></td><td><b>Fuel Cost</b></td><td><b>Toll Cost</b></td><td><b>Insurance</b></td><td><b>R&M Cost</b></td><td><b>LicFeeReg Cost</b></td><td><b>G&A Cost</b></td>
                  </tr>
                      <td>{{ costdata[0] }}</td><td>{{ costdata[1] }}</td><td>{{ costdata[2] }}</td><td>{{ costdata[3] }}</td><td>{{ costdata[4] }}</td><td>{{ costdata[5] }}</td><td>{{ costdata[6] }}</td>
                 </tr>
                 <tr>
                </tbody>
            </table> </div></div>
        {% endif %}
        <br>
        {% if biddata %}
                <div class="card">
              <div class="card-header">
                Total Cost and Bids
              </div>
            <div class="card-body">
            <table class="table table-condensed table-hover">
                <tbody>
                  <tr>
                      <td><b>Total Cost</b></td><td><b>Bid (1.2Cost)</b></td><td><b>Bid(Old)</b></td><td><b>CMA Bid + Fuel</b></td>
                  </tr>
                  <td><b>{{ costdata[8] }}</b></td><td>{{ biddata[0] }}</td><td>{{ biddata[1] }}</td><td>{{ biddata[2] }}</td>
                 </tr>
                 <tr>
                </tbody>
            </table> </div></div>
        {% endif %}
        {% if dirdata %}
                <div class="card">
              <div class="card-header">
               Detailed Directions
              </div>
            <div class="card-body">
            <table class="table table-condensed table-hover">
                <tbody>
                {% for dirline in dirdata %}
                    {% if 'Toll' in dirline %}
                     {% set atc1="amber" %}
                    {% else %}
                    {% set atc1 = "white" %}
                    {% endif %}
                  <tr>
                    <td class="{{atc1}}">{{ dirline | safe }}</td>
                 </tr>
                {% endfor %}
                </tbody>
            </table>
            </div></div>
        {% endif %}
        </div>
{% else %}
    <div class="col-sm-8" align="center">
        {% include 'Quotes_Table.html' %}
    </div>

{% endif %}

{% if taskbox != 1 and taskbox != 5 %}
    <br>
    <div class="col-sm-4" align="left">
    <br><br>
        <div class="card" align=""left">
            <div class = "card-header">
                Quick Preview
            </div>
            <div class="card-body">
                {% if qdat %}
                    {{ qdat.Title|safe }}<br><br>
                    {{ qdat.Body|safe }}
                    {% endif %}
            </div>
        </div>
    </div>
{% else %}

    <div class="col-sm-4" align="center">
    <br>
        <div class="card">
          <div class="card-header">
            Enter Data for Quote
          </div>
        <div class="card-body">
        <table class="table table-condensed table-hover">
            <tbody>
              <tr>
                  <td> <div class="input-group-text">To Location</div></td>
                  <td colspan="2"><textarea class="form-control" type="text" name="locto" rows="2">{{locto}}</textarea></td>
             </tr>
              <tr>
                  <td> <div class="input-group-text">From Location</div></td>
                  <td colspan="2"><textarea class="form-control" type="text" name="locfrom" rows="2">{{locfrom}}</textarea></td>
             </tr>
              <tr>
                  <td> <div class="input-group-text">Bid/Override</div></td>
                  <td colspan="2"><textarea class="form-control" type="text" name="bidthis" rows="1">{{bidthis}}</textarea></td>
             </tr>
              <tr>
                  <td> <div class="input-group-text">Salutation Name</div></td>
                  <td colspan="2"><textarea class="form-control" type="text" name="bidname" rows="1">{{bidname}}</textarea></td>
             </tr>
             <tr>
             <td colspan = '2'>
                 <button type="submit" class="btn btn-elegant btn-sm" name="GetQuote">Get<br>Quote</button>
                 <button type="submit" class="btn btn-elegant btn-sm" name="Update">Update<br>Bid/Name</button>
                 <button type="submit" class="btn btn-green btn-sm" name="UpdateE">Update<br>Email</button>
                 <button type="submit" class="btn btn-green btn-sm" name="Email">Email<br>Quote</button>
                 <button type="submit" class="btn btn-blue btn-sm" name="Return">Return To<br>Table</button>
             </td>
             </tr>
            </tbody>
        </table>
        </div></div>

        <div class="card" align="left">
            <div class = "card-header">
                Email Request
            </div>
            <div class="card-body" align=""left">
                {% if qdat %}
                    From:  {{ qdat.From|safe }}<br>
                    Title:  {{ qdat.Subject|safe }}<br><br>
                    {{ qdat.Body|safe }}
                {% endif %}
            </div>
        </div>
{% endif %}
<input type = "hidden" name ="quotpass" value= "{{quot}}">
<input type = "hidden" name ="thismuch" value= "{{thismuch}}">
<input type = "hidden" name ="taskbox" value= "{{taskbox}}">
</form>
{% endblock %}
