{% extends 'A_layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('Trucking') }}" method="post" enctype="multipart/form-data">
<div class="table-responsive">
    <div class="row">
        <div class="col-sm-{{leftsize}}" align="center">

            {% if leftscreen == 0 %}
                {% include 'Trucking_Preamble.html' %}

            {% elif leftscreen == 2 %}
                {% include 'includes/_calendarT.html' %}
                <input type = "hidden" name ="datatable1" value= "{{dlist[0]}}">
                <input type = "hidden" name ="datatable2" value= "{{dlist[1]}}">
                <input type = "hidden" name ="datatable3" value= "{{dlist[2]}}">
                <input type = "hidden" name ="datatable4" value= "{{dlist[3]}}">

            {% else %}
                {% if stayslim== 0 %}
                    {% set dt1='dtHorizontalVerticalExample1' %}
                    {% set dt2='dtHorizontalVerticalExample2' %}
                    {% set dt3='dtHorizontalVerticalExample3' %}
                    {% set dt4='dtHorizontalVerticalExample4' %}
                    {% set dt6='dtHorizontalVerticalExample6' %}
                {% else %}
                    {% set dt1='dtH1' %}
                    {% set dt2='dtH2' %}
                    {% set dt3='dtH3' %}
                    {% set dt4='dtH4' %}
                    {% set dt6='dtH5' %}
                {% endif %}

                {% include 'Trucking_Tables.html' %}

                {% if dlist[0]!= 'on' and dlist[1]!= 'on' and dlist[2]!= 'on' and dlist[3]!= 'on' %}
                        <div class="row">
                            <div class="col-sm-12" align="center">
                             {% include 'includes/_tablespanelT.html' %}
                            </div>
                        </div>
                {% endif %}

            {% endif %}

        </div>

        <div class="col-sm-{{rightsize}}" align = "left">
            <div class="row">
                <div class="col-sm-12" align=""center">

                    {% if modlink==70 %}
                        {% include 'includes/_uploadsourcedocs.html' %}

                    {% elif modlink==71 %}
                        {% include 'includes/_uploadproofdocs.html' %}

                    {% elif leftscreen == 2 %}
                       {% include 'includes/_button_cal.html' %}

                    {% elif quot>0 %}
                       {% if ldata %}
                            {% set htype = 'Modify Quote Information on' %}
                       {% else %}
                            {% set htype = 'View Quote Information on' %}
                       {% endif %}
                       {% set update = 'quotUpdate'%}
                       {% set logonly = 'logInvo'%}
                       {% include 'includes/_inco_invo.html' %}

                    {% elif modlink==4 and peep==0 %}
                        {% include 'Trucking_New_or_Mod_Job.html' %}

                    {% elif mm1==1 %}
                        {% include 'includes/_manifestpanel.html' %}
                    {% elif stamp > 0 %}
                        {% include 'Trucking_Email_Prep.html' %}

                    {% elif peep > 0 and modlink > 0 %}
                        {% include 'People_Table.html' %}

                    {% elif serv > 0 and modlink > 0 %}
                        {% include 'Services_Table.html' %}

                    {% elif invo == 0 and inco == 0  %}
                        <br>
                        {% include 'includes/_controlpanelheader.html' %}
                        {% if viewtype == 0 %}
                            {% include 'includes/_truckcolorcode.html' %}
                        {% else %}
                            {% include 'includes/_button_upd_ret.html' %}
                        {% endif %}

                   {% endif %}
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">



                    {% if (invo > 0 or quot > 0) and ldata %}
                        {% include 'Trucking_Invoice_Prep.html' %}
                    {% endif %}

                    {% if inco > 0 %}
                        {% include 'Trucking_Receive_Pay.html' %}
                    {% endif %}

                    {% if oder > 0 and modlink == 1 %}
                        {% include 'Trucking_Jobmod.html' %}
                    {% endif %}

                    {% if (tick > 0 and modlink == 1) or modlink==20 %}
                        {% include 'Trucking_Tickmod.html' %}
                    {% endif %}



                    {% include 'Debugtable.html' %}

                </div>
            </div>
        </div>
    </div>
</div>
<input type = "hidden" name ="lastpr" value= "{{lastpr}}">
<input type = "hidden" name ="thismuch" value= "{{thismuch}}">
<input type = "hidden" name ="passmanifest" value= "{{mm1}}">
<input type = "hidden" name ="passoder" id="passoder" value= "{{oder}}">
<input type = "hidden" name="passmodlink" value="{{modlink}}">
</form>

{% endblock %}
