{% extends 'A_layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('Barcode') }}" method="post">
<div class="table-responsive">
    <div class="row">
        <div class="col-sm-3" align="left">
            <br>
<input class="form-control" type="text" name="txtBarcode" id="txtBarcode">
<button type="submit" class="btn btn-primary" name="ThisJob" onclick = "window.location.href = 'bwstw://startscanner?field=txtBarcode'">Start Scanner</button>
<button type="submit" class="btn btn-primary" name="ThisJob">Send Scan</button>

<button type="button" name="btnScanBarcode" id="btnScanBarcode"
    style="height:56px;border-width:0px;"
    onclick="javascript:startBarcodeScanner();">
<img src="http://berrywing.com/images/barcode_2d.png" style="height: 50px; width: 50px">
</button>

        </div>
        <div class="col-sm-9" align="left">
            My auto data found is:  {{ myautodata }}
        </div>
    </div>
</div>
</form>

{% endblock %}
