{% if dlist[0]=='on' %}
  <div class="row">
    <div class="col-sm-12" align="center"> {% include 'includes/_tablespanelB.html' %} </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <table id="dtHorizontalVerticalExample1" class="table table-striped table-bordered w-auto" cellspacing="0" width="100%">
            <thead>
            <tr class="yellow lighten-5 text-black text-center">
                <th style="font-weight:bold" >ID</th>
                <th style="font-weight:bold" >ForCo</th>
                <th style="font-weight:bold" >BillNo</th>

                <th style="font-weight:bold" >ExpAcct</th>
                <th style="font-weight:bold" >Vendor</th>

                <th style="font-weight:bold" >Bill Date</th>
                <th style="font-weight:bold" >Due Date</th>

                <th style="font-weight:bold" >Amount</th>
                <th style="font-weight:bold" >Paid</th>
                <th style="font-weight:bold" >BalDue</th>

                <th style="font-weight:bold" >Chk</th>
                <th style="font-weight:bold" >From Account</th>
                <th style="font-weight:bold" >Reference</th>
                <th style="font-weight:bold" >Memo</th>

                <th style="font-weight:bold" >Paid Date</th>
                <th style="font-weight:bold" >Status</th>
                <th style="font-weight:bold" >Description</th>

                <th style="font-weight:bold" >Type</th>
                <th style="font-weight:bold" >Cat</th>
                <th style="font-weight:bold" >Subcat</th>
            </tr>
            </thead>
            <tbody>

            {% for data in data1 %}
                {% if data.Temp2=='Copy' %}
                    {% set act="amber font-weight-bold text-center" %}
                    {% set alt="amber font-weight-bold text-left" %}
                {% elif data.Status[0] == 'P' and data.Bal() != '0.00' %}
                    {% set act="blue-text font-weight-bold text-center" %}
                {% elif data.Status[0] == 'P' %}
                    {% set act="green-text font-weight-bold text-center" %}
                {% elif data.dDate %}
                    {% if data.dDate < today %}
                        {% set act="red white-text font-weight-bold text-center" %}
                    {% elif data.dDate < critday  %}
                        {% set act="amber font-weight-bold text-center" %}
                    {% else %}
                        {% set act="font-weight-bold text-center" %}
                    {% endif %}
                {% else %}
                    {% set act="font-weight-bold text-center" %}
                {% endif %}
            <tr>
                <td class="{{act}}" >{{ data.id }}</td>
                <td class="{{act}}" >{{ data.Co}}</td>
                <td class="{{act}}" >{{ data.Jo}}</td>

                <td class="{{act}}" >{{ data.bAccount }}</td>
                <td class="{{act}}" >{{ data.Company}}</td>



                <td class="{{act}}" >{{ data.bDate }}</td>
                <td class="{{act}}" >{{ data.dDate }}</td>

                <td class="{{act}}" >{{ data.bAmount}}</td>
                <td class="{{act}}" >{{ data.pAmount}}</td>
                <td class="{{act}}" >{{ data.Bal()}}</td>

                <td class="{{act}}" ><input class="align-middle" type="checkbox" name="bill{{data.id}}" value="{{data.id}}"></td>
                <td class="{{act}}" >{{ data.pAccount}}</td>
                <td class="{{act}}" >{{ data.Ref}}</td>
                <td class="{{act}}" >{{ data.Memo}}</td>

                <td class="{{act}}" >{{ data.pDate}}</td>
                <td class="{{act}}" >{{ data.Status}}</td>
                <td class="{{act}}" >{{ data.Description}}</td>

                <td class="{{act}}" >{{ data.bType }}</td>
                <td class="{{act}}" >{{ data.bCat }}</td>
                <td class="{{act}}" >{{ data.bSubcat }}</td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
 {% endif %}
 {% if dlist[1] =='on' %}
<div class="row">
    <div class="col-sm-12" align="center"> <b>Vendors:</b>
        {% if dlist[0]!= 'on' %}
        &nbsp {% include 'includes/_tablespanelB.html' %}
    {% endif %}</div>
</div>

<div class="row">
  <div class="col-sm-12">
    <table id="dtHorizontalVerticalExample2" class="table table-striped table-bordered table-sm w-auto" cellspacing="0"
  width="100%">
        {% set atc="font-weight-bold text-center" %}
        {% set atl="font-weight-bold text-left" %}
        <thead>
            <tr>
                <th class="{{atc}}">ID</th>
                <th class="{{atc}}">Type</th>
                <th class="{{atc}}">ExpCo</th>
                <th class="{{atc}}">Chk</th>
                <th class="{{atc}}">Entity (Payee)</th>
                <th class="{{atc}}">ExpenseAccount</th>
                <th class="{{atc}}">Addr1</th>
                <th class="{{atc}}">Addr2</th>
                <th class="{{atc}}">Phone</th>
                <th class="{{atc}}">Email</th>
                <th class="{{atc}}">ExpType</th>
                <th class="{{atc}}">ExpCat</th>
                <th class="{{atc}}">ExpSubcat</th>
                <th class="{{atc}}">ExpAccountID</th>
            </tr>
        </thead>
        <tbody>
            {% for data in data2 %}
                {% set comp = data.Company %}
                {% if comp %}
                    {% if comp|length >20 %}
                        {% set comp  = comp[0:20] %}
                    {% endif %}
                {% endif %}
                {% if data.Middle == 'Copy' %}
                    {% set atc="amber font-weight-bold text-center" %}
                    {% set atl="amber font-weight-bold text-center" %}
                {% elif data.First %}
                    {% set atc = "font-weight-bold " + data.First + "-text text-center" %}
                    {% set atl = "font-weight-bold " + data.First + "-text text-left" %}
                {% else %}
                    {% set atc = " blue font-weight-bold " + 'white' + "-text text-center" %}
                    {% set atl = " blue font-weight-bold " + 'white' + "-text text-left" %}
                {% endif %}
                                <tr>
                                    <td class="{{atc}}">{{data.id}}</td>
                                    <td class="{{atc}}">{{ data.Ptype }}</td>
                                    <td class="{{atc}}">{{ data.Idtype }}</td>
                                    <td align="center"><input class="align-middle" type="checkbox" name="peep{{data.id}}" value="{{data.id}}"></td>
                                    <td class="{{atl}}">{{ comp }}</td>
                                    <td class="{{atl}}">{{ data.Associate1 }}</td>
                                    <td class="{{atl}}">{{ data.Addr1}}</td>
                                    <td class="{{atl}}">{{ data.Addr2}}</td>
                                    <td class="{{atc}}">{{ data.Telephone}}</td>
                                    <td class="{{atc}}">{{ data.Email}}</td>
                                    <td class="{{atc}}">{{ data.Associate2 }}</td>
                                    <td class="{{atc}}">{{ data.Temp1 }}</td>
                                    <td class="{{atc}}">{{ data.Temp2 }}</td>
                                    <td class="{{atc}}">{{ data.Accountid }}</td>
                                </tr>
            {% endfor %}

            </tbody>
        </table>
           {{ atc }}
</div>
</div>
{% endif %}