{% include 'includes/_controlpanelheader.html' %}
<br>
<div class="card">
<div class="card-header">
        <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Enter New Bill Information</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="ThisBill"
                    data-toggle="tooltip" title="Create the Bill with Information in Form"><b>Create<br>New Bill</b></button>
            <button type="submit" class="btn btn-md btn-blue" name="addentity2"
                    data-toggle="tooltip" title="Add a Vendor if it does not Exist Already"><b>Add A<br>Vendor</b></button>
            <button type="submit" class="btn btn-md btn-elegant" name="Return"
                    data-toggle="tooltip" title="Reset everything to the start screen"><b>Cancel<br>& Return</b></button>
        </div>
    </div>
</div>

<div class="card-body">
{%  set vendors = hv[5] %}

<table class="table table-condensed table-hover">
    <tbody>
        <tr>
            <td><div class="input-group-text">From Vendor:</div></td>
            <td>
                <select class="form-control" type="text" name="thiscomp" onchange="this.form.submit()">
                <option selected value='1'>Choose Later</option>
                {% for vendor in vendors %}
                <option {% if hv[7] == vendor %} selected {% endif %} value="{{vendor}}" > {{vendor}} </option>
                {% endfor %}</select>
            </td>
        </tr>
        <tr>
            <td><div class="input-group-text">{{ cdat.Idtype }} Bill for Company:</div></td>
            <td>
                <select class="form-control" type="text" name="ctype" onchange="this.form.submit()">
                    <option value = 'Pick '>  Select Default Company/Division </option>
                    {% for divt in divdat %}
                            <option {% if hv[8] == divt.Co %} selected {% endif %} value='{{ divt.Co }}'>  {{ divt.Name }} (Code {{ divt.Co }}) </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% if hv[9] != 'No' %}
        <tr>
            <td><div class="input-group-text">{{cdat.Idtype}} Exp Account:</div></td>
            <td>
                <select class="form-control" type="text" name="billacct" >
                <option selected value='1'>Choose Later</option>
                {% for data in expdata %}
                <option {% if cdat.Associate1 == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                {% endfor %}</select>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="input-group-text">Bill Amount:</div></td>
            <td><input class="form-control" type="text" name="bamt" value="{{vdata[2]}}"></td>
        </tr>
        <tr>
            <td><div class="input-group-text">Bill Date:</div></td>
            <td><input class="form-control" type="date" name="bdate" value="{{vdata[0]}}"></td>
        </tr>
        <tr>
            <td><div class="input-group-text">Due Date:</div></td>
            <td><input class="form-control" type="date" name="ddate" value="{{vdata[1]}}"></td>
        </tr>
        <tr>
            <td><div class="input-group-text">Bill Description:</div></td>
            <td><textarea class="form-control" type="text" name="bdesc" rows="3">{{vdata[3]}}</textarea></td>
        </tr>
    </tbody>
</table>
</div>
</div>



