{% include 'includes/_controlpanelheader.html' %}
<br>
<div class="card">
<div class="card-header">
        <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Enter New Bill Information</div>
        </div>
    <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">
            <button type="submit" class="btn btn-sm btn-green" name="ThisBill"
                    data-toggle="tooltip" title="Create the Bill with Information in Form"><b>Create<br>New Bill</b></button>
            <button type="submit" class="btn btn-sm btn-blue" name="addentity2"
                    data-toggle="tooltip" title="Add a Vendor if it does not Exist Already"><b>Add A<br>Vendor</b></button>
            <button type="submit" class="btn btn-sm btn-elegant" name="Return"
                    data-toggle="tooltip" title="Reset everything to the start screen"><b>Cancel<br>& Return</b></button>
        </div>
    </div>
</div>

<div class="card-body">
{%  set vendors = hv[5] %}

<table class="table table-condensed table-hover">
    <tbody>
        <tr>
            <td><div class="input-group-text">From Vendor:</div></td>
            <td>
                <select class="form-control" type="text" name="thiscomp" onchange="this.form.submit()">
                <option selected value='0'>Choose Later</option>
                {% for vendor in vendors %}
                <option {% if hv[7] == vendor %} selected {% endif %} value="{{vendor}}" > {{vendor}} </option>
                {% endfor %}</select>
            </td>
        </tr>
        <tr>
            <td><div class="input-group-text">Payment Type:</div></td>
            <td>
                <select class="form-control" type="text" name="thistype" onchange="this.form.submit()">
                <option {% if hv[22] == 'bill' %} selected {% endif %} value="bill" > Bill/Expense </option>
                <option {% if hv[22] == 'asset1' %} selected {% endif %} value="asset1" > Purchase Depreciating Asset </option>
                <option {% if hv[22] == 'asset2' %} selected {% endif %} value="asset2" > Purchase Prepayment Asset </option>
            </td>
        </tr>
        <tr>
            <td><div class="input-group-text">{{ cdat.Idtype }} Payment from Company:</div></td>
            <td>
                <select class="form-control" type="text" name="ctype" onchange="this.form.submit()">
                    <option value = '0'>  Select Default Company/Division </option>
                    {% for divt in divdat %}
                            <option {% if hv[8] == divt.Co %} selected {% endif %} value="{{ divt.Co }}">  {{ divt.Name }} (Code {{ divt.Co }}) </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        {% if hv[9] != 'No' %}
            {%  set explabel = 'Expense Account' %}{% set prefix = 'Bill' %}
            {% if hv[22] == 'bill' %}{% set explabel = 'Expense Account' %}{% endif %}
            {% if hv[22] == 'asset1' %}{% set asslabel = 'Depreciating Asset' %}{% set explabel = 'Accumlation Account' %}{% set assdata = hv[23] %}{% endif %}
            {% if hv[22] == 'asset2' %}{% set asslabel = 'Adjusting Asset' %}{% set explabel = 'Adjusting Expense' %}{% set assdata = hv[23] %}{% endif %}
        {% if hv[22] != 'bill' %}
            {% set prefix = 'Purchase' %}
        <tr>
            <td><div class="input-group-text">{{ asslabel }}:</div></td>
            <td>
                <select class="form-control" type="text" name="assacct" >
                <option selected value='0'>Choose Later</option>
                {% if assdata %}
                    {% for data in assdata %}
                    <option {% if cdat.Associate1 == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                    {% endfor %}</select>
                {% else %}
                    <option  value="0" > No accounts exist for payment option </option>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="input-group-text">{{cdat.Idtype}} {{ explabel }}:</div></td>
            <td>
                <select class="form-control" type="text" name="billacct" >
                <option selected value='0'>Choose Later</option>
                {% if expdata %}
                    {% for data in expdata %}
                    <option {% if cdat.Associate1 == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                    {% endfor %}</select>
                {% else %}
                    <option  value="0" > No accounts exist for payment option </option>
                {% endif %}
            </td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="input-group-text">{{prefix}} Amount:</div></td>
            <td><input class="form-control" type="text" name="bamt" value="{{vdata[2]}}"></td>
        </tr>
        <tr>
            <td><div class="input-group-text">{{prefix}} Date:</div></td>
            <td><input class="form-control" type="date" name="bdate" value="{{vdata[0]}}"></td>
        </tr>
        {% if hv[22] == 'bill' %}
        <tr>
            <td><div class="input-group-text">Due Date:</div></td>
            <td><input class="form-control" type="date" name="ddate" value="{{vdata[1]}}"></td>
        </tr>
        {% endif %}
        <tr>
            <td><div class="input-group-text">{{prefix}} Description:</div></td>
            <td><textarea class="form-control" type="text" name="bdesc" rows="3">{{vdata[3]}}</textarea></td>
        </tr>
    </tbody>
</table>
</div>
</div>



