{% include 'includes/_controlpanelheader.html' %}
<br>
<div class="card">
<div class="card-header">
        <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Modify Bill Information for {{ modata.Jo }}</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="Update">Update</button>
            <button type="submit" class="btn btn-md btn-elegant" name="Return">Cancel</button>
        </div>
    </div>
</div>

<div class="card-body">

<table class="table table-condensed table-hover">
<tbody>
{% set ifxfer=modata.bType %}

{% if ifxfer=='XFER' %}
                <tr>
                <td><div class="input-group-text">From Account:</div></td>
                <td>
                <select class="form-control" type="text" name="fromacct">
                <option value='0'>Choose Later</option>
                {% for data in acdata %}
                    <option value="{{data.Name}}" {% if modata.pAccount == data.Name %} selected {% endif %} > {{data.Name}} </option>
                {% endfor %}</select>
                </td>
                </tr>
                <tr>
                <td><div class="input-group-text">To Account:</div></td>
                <td>
                <select class="form-control" type="text" name="toacct">
                <option value='0'>Choose Later</option>
                {% for data in acdata %}
                    <option value="{{data.Name}}" {% if modata.Company == data.Name %} selected {% endif %} > {{data.Name}} </option>
                {% endfor %}</select>
                </td>
                </tr>
                <tr>
                <td><div class="input-group-text">Amount:</div></td>
                <td><input class="form-control" type="text" name="pamt" value="{{modata.pAmount}}"></td>
                </tr>
                <tr>
                <td><div class="input-group-text"> Pay Reference:</div></td>
                <td><input class="form-control" type="text" name="bref" value="{{modata.Ref}}"></td>
                </tr>
                <tr>
                <td><div class="input-group-text">Paid Date:</div></td>
                <td><input class="form-control" type="date" name="pdate" value={{modata.pDate}}></td>
                </tr>
                <tr>
                <td><div class="input-group-text">Check Memo:</div></td>
                <td><input class="form-control" type="text" name="ckmemo" value="{{modata.Memo}}"></td>
                </tr>
                <tr>
                <td><div class="input-group-text">Description:</div></td>
                <td><textarea class="form-control" type="text" name="bdesc" rows="3">{{modata.Description}}</textarea></td>
                </tr>

{% else %}

                {% if modlink == 11 or modlink == 12 or modlink == 14 or modlink == 6 %}
                        {% if modlink == 6 or modlink == 14 %}
                            {% set ckstyle = hv[21] %}
                            <tr>
                            <td><div class="input-group-text">Check Style:</div></td>
                            <td>
                            <select class="form-control" type="text" name="ckstyle" onchange="this.form.submit()">
                            <option value="1" {% if ckstyle == '1' %} selected {% endif %} > Repeated Notation </option>
                            <option value="2" {% if ckstyle == '2' %} selected {% endif %} > Address for Mailing </option>
                            </select>
                            </td>
                            </tr>
                        {% endif %}
                            {% if modlink == 12 %}<tr><td colspan == "2">Enter Next Installment:</td></tr>{% endif %}

                            {% set methods = ['Check', 'Credit Card', 'Bank Debit Card', 'Online Epay', 'Vendor ACH'] %}
                            <tr>
                            <td><div class="input-group-text">Paid Amount:</div></td>
                            <td><input class="form-control" type="text" name="pamt" value="{{modata.pAmount}}"></td>
                            </tr>
                            <tr>
                            <td><div class="input-group-text">From Account:</div></td>
                            <td>
                            <select class="form-control" type="text" name="account" onchange="this.form.submit()">
                            <option value='0'>Choose Later</option>
                            {% for data in acdata %}
                            <option value="{{data.Name}}" {% if modata.pAccount == data.Name %} selected {% endif %} > {{data.Name}} </option>
                            {% endfor %}</select>
                            </td>
                            </tr>
                            <tr>
                            <td><div class="input-group-text">Pay Method:</div></td>
                            <td>
                            <select class="form-control" type="text" name="method" onchange="this.form.submit()">
                            <option value='0'>Select Payment Method</option>
                            {% for method in methods %}
                            <option value="{{method}}" {% if modata.Temp2 == method %} selected {% endif %} > {{method}} </option>
                            {% endfor %}</select>
                            </td>
                            </tr>
                            <tr>
                            <td><div class="input-group-text"> Pay Ref/Check#:</div></td>
                            <td><input class="form-control" type="text" name="bref" value="{{modata.Ref}}"></td>
                            </tr>
                            <tr>
                            <td><div class="input-group-text">Check Memo:</div></td>
                            <td><input class="form-control" type="text" name="ckmemo" value="{{modata.Memo}}"></td>
                            </tr>
                            <tr>
                            <td><div class="input-group-text">Paid Date:</div></td>
                            <td><input class="form-control" type="date" name="pdate" value={{modata.pDate}}></td>
                            </tr>

                {% endif %}
                {% if modlink == 12 %}
                    {% set prevp = hv[19] %}
                    {% for prev in prevp %}
                        <tr><td colspan == "2">Previous Payment {{ loop.index }} of {{ prevp|length }}</td></tr>
                            <tr><td><div class="input-group-text">Paid Amount:</div></td>
                            <td><input disabled class="form-control" type="text" value="{{prev[0]}}"></td>
                            </tr>
                            <tr><td><div class="input-group-text">From Account:</div></td>
                            <td><input disabled class="form-control" type="text" value="{{prev[1]}}"></td>
                            </tr>
                            <tr><td><div class="input-group-text">Pay Method:</div></td>
                            <td><input disabled class="form-control" type="text" value="{{prev[2]}}"></td>
                            </tr>
                            <tr><td><div class="input-group-text"> Pay Ref/Check#:</div></td>
                            <td><input disabled class="form-control" type="text" value="{{prev[3]}}"></td>
                            </tr>
                            <tr><td><div class="input-group-text">Check Memo:</div></td>
                            <td><input disabled class="form-control" type="text" value="{{prev[4]}}"></td>
                            </tr>
                            <tr><td><div class="input-group-text">Paid Date:</div></td>
                            <td><input disabled class="form-control" type="text" value="{{prev[5]}}"></td>
                            </tr>
                    {% endfor %}

                {% endif %}
                {% if modlink == 11 or modlink == 12 %}{% set canchange = 'disabled' %}{% else %}{% set canchange = '' %}{% endif %}
                <tr><td colspan == "2">Vendor and Payment Information</td></tr>
                <tr>
                    <td>    <div class="input-group-text">From Vendor:</div>    </td>
                    <td>
                            <select {{ canchange }} class="form-control" type="text" name="thiscomp" onchange="this.form.submit()">
                                    <option selected value='1'>Choose Later</option>
                                    {% for data in data2 %}
                                        <option value="{{data.Company}}" {% if modata.Company == data.Company %} selected {% endif %}> {{data.Company}} </option>
                                    {% endfor %}
                            </select>
                    </td>
                </tr>
                <tr>
                    <td><div class="input-group-text">Payment Type:</div></td>
                    <td>
                        <select {{ canchange }} class="form-control" type="text" name="thistype" onchange="this.form.submit()">
                        <option {% if modata.Code2== 'bill' or modata.Code2 == none %} selected {% endif %} value="bill" > Bill/Expense </option>
                        <option {% if modata.Code2 == 'asset1' %} selected {% endif %} value="asset1" > Purchase Depreciating Asset </option>
                        <option {% if modata.Code2 == 'asset2' %} selected {% endif %} value="asset2" > Purchase Prepayment Asset </option>
                    </td>
                </tr>
                <tr>
                    <td>    <div class="input-group-text">Payment from Company:</div>   </td>
                    <td>
                            <select {{ canchange }} class="form-control" type="text" name="ctype" onchange="this.form.submit()">
                                <option value = 'Pick'>  Select Default Company/Division </option>
                                    {% for div in divdat %}
                                        <option {% if modata.Co== div.Co %} selected {% endif %} value='{{ div.Co }}'>  {{ div.Name }} (Code {{ div.Co }}) </option>
                                    {% endfor %}
                            </select>
                    </td>
                </tr>
            {%  set explabel = 'Expense Account' %}{% set prefix = 'Bill' %}{% set explabel = 'Expense Account' %}
            {% if modata.Code2 == 'asset2' %}{% set asslabel = 'Depreciating Asset' %}{% set explabel = 'Accumlation Account' %}{% endif %}
            {% if modata.Code2 == 'asset1' %}{% set asslabel = 'Adjusting Asset' %}{% set explabel = 'Adjusting Expense' %}{% endif %}
            {% if modata.Code2 %}
                {% if 'asset' in modata.Code2 %}
                {% set prefix = 'Purchase' %}{% set assdata = hv[23] %}
                    <tr>
                        <td><div class="input-group-text">{{ asslabel }}:</div></td>
                        <td>
                            <select {{ canchange }} class="form-control" type="text" name="assacct" >
                            <option selected value='0'>Choose Later</option>
                            {% if assdata %}
                                {% for data in assdata %}
                                <option {% if cdat.Associate1 == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                                {% endfor %}</select>
                            {% else %}
                                <option  value="0" > No accounts exist for payment option </option>
                            {% endif %}
                        </td>
                    </tr>
            {% endif %}{% endif %}

                <tr>
                <td><div class="input-group-text">{{modata.Co}} Exp Account:</div></td>
                <td>
                <select {{ canchange }} class="form-control" type="text" name="billacct">
                <option selected value='1'>Choose Later</option>
                {% for data in expdata %}
                <option {% if modata.bAccount == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                {% endfor %}</select>
                </td>
                </tr>

                <tr>
                <td><div class="input-group-text">{{ prefix }} Amount:</div></td>
                <td><input {{ canchange }} class="form-control" type="text" name="bamt" value="{{modata.bAmount}}"></td>
                </tr>
                       <tr>
                <td><div class="input-group-text">{{ prefix }} Date:</div></td>
                <td><input {{ canchange }} class="form-control" type="date" name="bdate" value={{modata.bDate}}></td>
                </tr>
                <tr>
                <td><div class="input-group-text">Due Date:</div></td>
                <td><input {{ canchange }} class="form-control" type="date" name="ddate" value={{modata.dDate}}></td>
                </tr>
                <tr>
                <td><div class="input-group-text">{{ prefix }} Description:</div></td>
                <td><textarea {{ canchange }} class="form-control" type="text" name="bdesc" rows="3">{{modata.Description}}</textarea></td>
                </tr>


{% endif %}
</tbody></table>
</div>
</div>
<input type = "hidden" name ="bill" value= {{bill}}>
<input type = "hidden" name ="modlink" value= {{modlink}}>
<input type = "hidden" name ="peep" value= {{peep}}>