<br>
<div class="card">

<div class="card-header">
        <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Enter New Service</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="Update">Update</button>
            <button type="submit" class="btn btn-md btn-elegant" name="Return">Cancel</button>
        </div>
    </div>
</div>

<div class="card-body">

<table class="table table-condensed table-hover">
<tbody>
<tr>
<td> <div class="input-group-text" align="right">Service:</div></td>
<td colspan="2"><input class="form-control" type="text" name="service" value="{{modata.Service}}"></td>
</tr>
<tr>
<td> <div class="input-group-text" align="right">Price EA:</div></td>
<td colspan="2"><input class="form-control" type="text" name="price" value="{{modata.Price}}"></td>
</tr>
</tbody></table>
<input type = "hidden" name ="serv" value= {{serv}}>



</div>
</div>