{% extends 'layout_portal.html' %}



{% block body %}
<div class="table-responsive">
  <div class="row">
  {% for i in range(12) %}
      <div class="col-sm-1" align="left">|</div>
  {% endfor %}
  </div>
  <div class="row">
  {% for i in range(12) %}
      <div class="col-sm-1" align="right">|</div>
  {% endfor %}
  </div>

  <div class="row">
        <div class="col-sm-12" align="center" style="font-weight:bold">
               <h4>Trucking Calendar</h4>
        </div>            
  </div>

<div class="row">

{% for i in range(18) %}
    {% set name = caldays[i] %}
    {% if name[0]=='X' %} 
        <div class="col-sm-2 text-primary"><h5><u> {{name[1:]}}</u></h5>
    {% else %}
        <div class="col-sm-2"><h5><u> {{name}}</u></h5>
    {% endif %}
    
        
        {% for j in range(4) %}
            {% set k=4*i+j %}
                <table data-toggle="table">
                {% set ilist=daylist[k] %}
                {% if ilist %}
                <tr><td colspan="2" class="align-top text-success"><b> JO:{{ ilist[5] }}</b> </td>
                
                {% if ilist[7] == "Unmatched" %}
                <td rowspan="2"><form action="{{ url_for ('MakeManifest') }}"><input type ="submit" name="incoming" value="U" class="but btn-secondary btn-xs">
                    <input type = "hidden" name ="order2" value= "{{ ilist[0] }}">
                    </form></td>
                {% endif %}
                
                {% if ilist[7] == "Matched" %}
                <td rowspan="2"><form action="{{ url_for ('MakeManifest') }}"><input type ="submit" name="seematch" value="M" class="but btn-primary btn-xs">
                    <input type = "hidden" name ="order2" value= "{{ ilist[0] }}">
                    </form></td>
                {% endif %}
                
                {% if ilist[7] == "Invoiced" %}
                <td rowspan="2"><form action="{{ url_for ('MakeManifest') }}"><input type ="submit" name="seeinvoice" value="I" class="but btn-success btn-xs">
                    <input type = "hidden" name ="order2" value= "{{ ilist[0] }}">
                    </form></td>
                {% endif %}
                 
                 
                    
                    
                    </tr>               
                <tr><td><b> Order:{{ ilist[0] }}</b> </td><td>&nbsp</td></tr>
                              <tr><td> Bk:{{ ilist[2] }} </td><td>&nbsp</td><td>Time: {{ ilist[4] }} </td></tr>
                              <tr><td colspan="1"> C:{{ ilist[6] }} </td><td>&nbsp</td><td>PU: {{ ilist[1] }} </td></tr>
                {% endif %}
         {% endfor %}                 
                </table>

    </div>
    {% if i==5 %}  </div> <div class="row"><div class="col-sm-12"> </div></div> <div class="row"> {% endif %}
    {% if i==11 %} </div> <div class="row"><div class="col-sm-12"> </div></div> <div class="row"> {% endif %}
{% endfor %}



    </div></div></div>

{% endblock %}

