{% extends 'layout_portal.html' %}

{% block body %}
<form action="{{ url_for ('OverseasV') }}" method="post">
<div class="table-responsive">
<div class="row">
    
<div class="col-sm-{{leftsize}}">
    
  {% if leftscreen == 0 %}
    
    <div class="row">
        <div class="col-sm-12" align="center" style="font-weight:bold">
            <p class="small">Viewing Document:{{docref}} </p>
        </div>
        <div class="col-sm-12" align="right">
        <embed src="{{docref}}" width="500px" height="550px"/>
        </div>
    </div>

  
{% elif leftscreen == 2 %} 
        {% set weekstop = [6, 13, 20, 27, 34, 41, 48, 55, 62, 69, 76, 83, 90, 97, 104, 111] %}
        {% set dweeks = nweeks[0] + nweeks[1] %}   
        <div class="row">
            <div class="col-sm-12" align="center">
                <table class="table table-condensed ">
                    <tr>
                        {% for i in range(dweeks*7) %}
                            {% set name = caldays[i] %}
                            {% if name[0]=='X' %} 
                                <td align="left">
                                <b><u><div class='text-primary'>{{name[1:]}}</div></u></b>
                            {% else %}
                                <td align="left"> 
                                <b> <u> {{name}}</u> </b>  
                            {% endif %}
                            <br>
                            {% for j in range(4) %}
                                {% set k=4*i+j %} 
                                <table data-toggle="table">
                                {% set ilist=daylist[k] %}
                                {% if ilist %}
                   <tr><td colspan="2" class="align-top text-success"><b> JO:{{ ilist[0] }}&nbsp{{ilist[2]}}</b> </td>
                
                                   
                </tr>               
                <tr><td><b> Bk:{{ ilist[1] }}</b> </tr>
                
                
            {% endif %}
        {% endfor %}                 
        </table>

                            </td>                
                            {% if i in weekstop %} 
                                 </tr>  <tr>
                            {% endif %}       
                        {% endfor %}
                </table>      
            </div>
        </div>  
    <input type = "hidden" name ="topvalue1" value= "{{t[0]}}">
    <input type = "hidden" name ="botvalue1" value= "{{s[0]}}">
    <input type = "hidden" name ="topvalue2" value= "{{t[1]}}">
    <input type = "hidden" name ="botvalue2" value= "{{s[1]}}">
    <input type = "hidden" name ="topvalue3" value= "{{t[2]}}">
    <input type = "hidden" name ="botvalue3" value= "{{s[2]}}">
    <input type = "hidden" name ="topvalue4" value= "{{t[3]}}">
    <input type = "hidden" name ="botvalue4" value= "{{s[3]}}">
    <input type = "hidden" name ="topvalue5" value= "{{t[4]}}">
    <input type = "hidden" name ="botvalue5" value= "{{s[4]}}">
    <input type="hidden" value="{{josearch1}}" name="findJO1"> 
    <input type="hidden" value="{{booksearch1}}" name="findBook1">
    <input type="hidden" value="{{josearch2}}" name="findJO2">
    <input type="hidden" value="{{booksearch2}}" name="findBook2">
    <input type="hidden" value="{{search31}}" name="find31"> 
    <input type="hidden" value="{{search32}}" name="find32">
    <input type="hidden" value="{{search41}}" name="find41">
    <input type="hidden" value="{{search42}}" name="find42">
    <input type="hidden" value="{{search51}}" name="find51">
    <input type="hidden" value="{{search52}}" name="find52">
    <input type="hidden" value="{{reach}}" name="reach">
    
  {% else %}

  <div class="row">
    <div class="col-sm-12" align="center" style="font-weight:bold"> Overseas Shipping Data </div>
  </div>   
  <div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered table-condensed table-hover">
            <tr align="center" style="font-weight:bold">
                <td align="center">JO</td>
                <td align="center">Booking</td>
                <td align="center">Type</td>
                <td align="center">In/Out</td>
                <td align="center">Commod</td>
                <td align="center">POD</td>
                <td align="center">POL</td>
                <td align="center">Origin</td>
                <td align="center">Date</td>
                <td align="center">Status</td>
                <td align="right">Chk</td>
                <td align="center">ConType</td>
                <td align="center">Est</td>
                <td align="center">Charge</td>
                <td align="center">Pid</td>
                <td align="center">Clist</td>
                <td align="center">ExID</td>
                <td align="center">ConID</td>
                <td align="center">NotID</td>
                <td align="center">FFID</td>
                <td align="center">PCID</td>

            </tr>
            {% for data in data1 %}
            <tr {% if data.Booking != None and data.ExportID>0 and data.ConsigID>0 and data.NotifyID>0 and data.CommoList>0 %}
                class="text-success" {% elif data.Booking != None %} class="text-primary" {% endif %}>
                
                <td align="center">{{ data.Jo }}</td>
                <td align="center">{{ data.Booking }}</td>
                <td align="center">{{ data.MoveType }}</td>
                <td align="center">{{ data.Direction }}</td>
                <td align="center">{{ data.Commodity }}</td>
                <td align="center">{{ data.Pod }}</td>
                <td align="center" >{{ data.Pol }}</td>
                <td align="center" >{{ data.Origin }}</td>
                <td align="center" >{{ data.ApptDate }}</td>
                <td align="center">{{ data.Status }}</td>
                <td align="right"><input type="checkbox" name="ship{{data.id}}" value="{{data.id}}">
                <td align="center" >{{ data.ContainerType }}</td>
                <td align="center" >{{ data.Estimate }}</td>
                <td align="center" >{{ data.Charge }}</td>
                <td align="center" >{{ data.Pid }}</td>
                <td align="center" >{{ data.CommoList }}</td>
                <td align="center">{{ data.ExportID }}</td>
                <td align="center">{{ data.ConsigID }}</td>
                <td align="center">{{ data.NotifyID }}</td>
                <td align="center">{{ data.FrForID }}</td>
                <td align="center">{{ data.PreCarryID }}</td>

            </tr>
            {% endfor %}
            <tr>
                <td colspan="8"> <input type ="submit" name="dn1" value="DN"> <input type = "hidden" name ="topvalue1" value= "{{t[0]}}">
                    <input type ="submit" name="up1" value="UP"> <input type = "hidden" name ="botvalue1" value= "{{s[0]}}">
                     Showing: {{s[0]}} To {{t[0]}} of {{u[0]}}
                </td>
                <td colspan="13" align="right">
                <input type ="submit" name="unslim" value="UNSLIM">&nbsp &nbsp
                <input type ="submit" name="slim" value="SLIM">&nbsp &nbsp
                Search JO: <input type="search" value="{{josearch1}}" name="findJO1"> &nbsp &nbsp
                Search Booking: <input type="search" value="{{booksearch1}}" name="findBook1">
                </td>
                   
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12" align="center" style="font-weight:bold">Bookings Data</div>
</div>
    
<div class="row">
    <div class="col-sm-12" align="center">

      <table class="table table-striped table-bordered table-condensed">
            <tr align="center" style="font-weight:bold">
                <td align="center">Booking</td>
                <td align="center">JO</td>
                <td align="center">ExpRef</td>
                <td align="center">Vessel</td>
                <td align="center">ShipLine</td>
                <td align="center">POD</td>
                <td align="center">POL</td>
                <td align="center">PortCut</td>
                <td align="center">DocCut</td>
                <td align="center">Sails</td>
                <td align="center">Arrives</td>
                <td align="center">Cost</td>
                <td align="center">ReTyp</td>
                <td align="center">AES</td>
                <td align="right">Chk</td>
            </tr>
            {% for data in data3 %}
            <tr>
                <td align="center">{{ data.Booking }}</td>
                <td align="center">{{ data.Jo }}</td>
                <td align="center">{{ data.ExportRef}}</td>
                <td align="center">{{ data.Vessel[0:10]}}</td>
                <td align="center">{{ data.Line}}</td>
                <td align="center">{{ data.Dest[0:10]}}</td>
                <td align="center">{{ data.LoadPort[0:10]}}</td>
                <td align="center">{{ data.PortCut}}</td>
                <td align="center">{{ data.DocCut }}</td>
                <td align="center">{{ data.SailDate }}</td> 
                <td align="center">{{ data.EstArr}}</td>               
                <td align="center">{{ data.Amount}}</td>
                <td align="center">{{ data.RelType }}</td>
                <td align="center">{{ data.AES }}</td>
                <td align="right"><input type="checkbox" name="book{{data.id}}" value="{{data.id}}">
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"> <input type ="submit" name="dn3" value="DN"> <input type = "hidden" name ="topvalue3" value= "{{t[2]}}">
                <input type ="submit" name="up3" value="UP"> <input type = "hidden" name ="botvalue3" value= "{{s[2]}}">
                   Showing {{s[2]}} To {{t[2]}} of {{u[2]}}</td>     
            
                <td colspan="10" align="right">
                Search JO: <input type="search" value="{{josearch2}}" name="findJO2">&nbsp &nbsp
                Search Booking: <input type="search" value="{{booksearch2}}" name="findBook2">
                </td>
            </tr>
        </table>       
    </div>
</div>
    
    
<div class="row">
    <div class="col-sm-12" align="center" style="font-weight:bold">Entity Data</div>
</div>   
    
    
    
    
<div class="row">
    <div class="col-sm-12">
    
    <table class="table table-striped table-bordered table-condensed table-hover">
            <tr align="center" style="font-weight:bold">
                <td align="center">ID</td>
                <td align="center">Role</td>
                <td align="left">Company</td>
                <td align="left">Last</td>
                <td align="left">First</td>
                <td align="left">Middle</td>
                <td align="left">Email</td>
                <td align="left">Phone</td>
                <td align="left">Addr1</td>
                <td align="left">Addr2</td>
                <td align="left">Addr3</td>
                <td align="right">Chk</td>
            </tr>
            {% for data in data4 %}
            <tr {% if data.Ptype == "Exporter" %} class="text-primary" {% endif %}{% if data.Ptype == "Consignee" %} class="text-success" {% endif %}>
                <td align="center">{{ data.id }}</td>
                <td align="center">{{ data.Ptype[0]}}</td>
                <td align="left">{{ data.Company[0:12] }}</td>
                <td align="left">{{ data.Last }}</td>
                <td align="left">{{ data.First }}</td>
                <td align="left">{{ data.Middle }}</td>
                <td align="left">{{ data.Email }}</td>
                <td align="left">{{ data.Telephone }}</td>
                <td align="left">{{ data.Addr1 }}</td>
                <td align="left">{{ data.Addr2 }}</td>        
                <td align="left">{{ data.Addr3 }}</td>
                <td align="right"><input type="checkbox" name="peep{{data.id}}" value="{{data.id}}">
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"> <input type ="submit" name="dn4" value="DN"> <input type = "hidden" name ="topvalue4" value= "{{t[3]}}">
                <input type ="submit" name="up4" value="UP"> <input type = "hidden" name ="botvalue4" value= "{{s[3]}}">
                   Showing {{s[3]}} To {{t[3]}} of {{u[3]}}</td>
                
                <td colspan="8" align="right">
                <select type="text" name="limitptype" onchange="this.form.submit()">
                    <option  {% if limitptype == 'All' %} selected {% endif %} value="All"> All </option>
                    <option  {% if limitptype == 'Exporter' %} selected {% endif %} value="Exporter"> Exporter </option>
                    <option  {% if limitptype == 'Consignee' %} selected {% endif %} value="Consignee"> Consignee </option>
                    <option  {% if limitptype == 'Notify' %} selected {% endif %} value="Notify"> Notify </option>
                    <option  {% if limitptype == 'FrFwd' %} selected {% endif %} value="FrFwd"> Freight Forwarder </option>
                    <option  {% if limitptype == 'PreCarry' %} selected {% endif %} value="PreCarry"> Pre-Carriage Hauler </option>
                    <option  {% if limitptype == 'Funder' %} selected {% endif %} value="Funder"> Funder </option>
                </select> &nbsp &nbsp
                <input type ="submit" name="addentity" value="ADD">&nbsp &nbsp
                Search Names: <input type="search" value="{{search31}}" name="find31">&nbsp &nbsp
                Search Address: <input type="search" value="{{search32}}" name="find32">
                </td>
                
                               
            </tr>
        </table>
   
    
    </div> 
</div>

    
<div class="row">
    <div class="col-sm-12" align="center" style="font-weight:bold">Automobile Data</div>
</div>    
    
<div class="row">
  <div class="col-sm-12">
    
    <table class="table table-striped table-bordered table-condensed table-hover">
            <tr align="center" style="font-weight:bold">
                <td align="center">JO</td>
                <td>Year</td>
                <td>Make</td>
                <td>Model</td>
                <td>Color</td>
                <td>VIN</td>
                <td>Title</td>
                <td>State</td>
                <td>EmpWeight</td>
                <td>Odometer</td>
                <td>Owner</td>
                <td>Status</td>
                <td align="right">Chk</td>
            </tr>
            {% for data in data2 %}
            <tr {% if data.Status[1] == "1" %} class="text-primary" {% endif %}{% if data.Status[2] == "1" %} class="text-success" {% endif %}>
                <td align="center">{{data.Jo}}</td>
                <td align="center">{{ data.Year }}</td>
                <td align="center">{{ data.Make}}</td>
                <td align="center">{{ data.Model }}</td>
                <td align="center">{{ data.Color }}</td>
                <td align="center">{{ data.VIN }}</td>
                <td align="center">{{ data.Title }}</td>
                <td align="center">{{ data.State }}</td>
                <td align="center">{{ data.EmpWeight }}</td>
                <td align="center">{{ data.Odometer }}</td>
                <td align="center">{{ data.Owner }}</td>        
                <td align="center"> {{ data.Status }}</td>
                <td align="right"><input type="checkbox" name="auto{{data.id}}" value="{{data.id}}">
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"> <input type ="submit" name="dn2" value="DN"> <input type = "hidden" name ="topvalue2" value= "{{t[1]}}">
                <input type ="submit" name="up2" value="UP"> <input type = "hidden" name ="botvalue2" value= "{{s[1]}}">
                   Showing {{s[1]}} To {{t[1]}} of {{u[1]}}</td>
                
                <td colspan="9" align="right">
                Search Make/Model: <input type="search" value="{{search41}}" name="find41">&nbsp &nbsp
                Search Title/Owner: <input type="search" value="{{search42}}" name="find42">
                </td>                        
            </tr>
        </table>  
    </div>    
</div>
    

<div class="row">
    <div class="col-sm-12" align="center" style="font-weight:bold">Commodity Lists</div>
</div>
    
    
<div class="row">
<div class="col-sm-12">
    
    <table class="table table-striped table-bordered table-condensed table-hover">
            <tr style="font-weight:bold">
                <td align="center">id</td>
                <td align="center">JO</td>
                <td align="center">Container</td>
                <td align="center">Seal</td>
                <td align="center">HSCode</td>
                <td align="center">Destination</td>
                <td align="left">Description</td>
                <td align="right">Chk</td>
            </tr>
            {% for data in data5 %}
            <tr {% if data.Jo != 'None' and data.Jo != 'New' and data.Container != None %} class="text-success" {% elif data.Jo != 'None' and data.Jo != 'New' %} class="text-primary" {% endif %}>
                            
                <td align="center">{{ data.id }}</td>
                <td align="center">{{ data.Jo }}</td>
                <td align="center">{{ data.Container }}</td>
                <td align="center">{{ data.Seal }}</td>
                <td align="center">{{ data.Booking }}</td>
                <td align="center">{{ data.Destination }}</td>
                <td align="left"><pre>{{ data.Description }}</pre></td>
                <td align="right"><input type="checkbox" name="comm{{data.id}}" value="{{data.id}}">
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4"> <input type ="submit" name="dn5" value="DN"> <input type = "hidden" name ="topvalue5" value= "{{t[4]}}">
                <input type ="submit" name="up5" value="UP"> <input type = "hidden" name ="botvalue5" value= "{{s[4]}}">
                   Showing {{s[4]}} To {{t[4]}} of {{u[4]}}</td>
                <td colspan="4" align="right">
                <input type ="submit" name="addcommo" value="ADD">&nbsp &nbsp
                Search JO: <input type="search" value="{{search51}}" name="find51">&nbsp &nbsp
                Search Description: <input type="search" value="{{search52}}" name="find52">
                </td>
                               
            </tr>
        </table>
   
    
    </div>    
</div>
    
{% endif %}    
    
</div> 

    
   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
<div class="col-sm-{{rightsize}}">
       <div class="row">
           <div class="col-sm-12"  align="center" style="font-weight:bold">Control Panel</div>
       </div>
       <div class="row">
           <div class="col-sm-12">

                <table>
               <tr class="small text-danger"><td>Messages</td></tr>
                {% for e in err %}
                <tr><td>{{e}}</td></tr> 
                {% endfor %}
               </table>
               <input type = "hidden" name="passmodlink" value="{{modlink}}">
               <input type = "hidden" name="stayslim" value="{{stayslim}}">
            
             
           </div>
       </div>
       <div class="row">
           <div class="col-sm-12">
           
            {% if ship > 0 and modlink==1 %}
               <p class="small">Modify Shipping JO {{modata.Jo}} <input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
            {% elif book>0 and modlink==1 %}
                <p class="small">Modify Booking {{modata.Booking}} <input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
            {% elif peep>0 and modlink==1 %}
                <p class="small">Modify Entity with ID {{modata.id}} <input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
            {% elif peep>0 and modlink==2 %}
                <p class="small">Add New Entity based on ID {{modata.id}} <input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
            {% elif auto>0 and modlink==1 %}
                <p class="small">Modify Auto Entry with ID {{modata.id}} leftscreen:{{leftscreen}} docref:{{docref}}<input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
               
            {% elif leftscreen == 2 %}
               
             <table>
               <tr>
                   <td><div class="input-group-text">WksBef</div></td>
                   <td><input class="form-control" type="text" name="wbef" value={{nweeks[0]}}></td>
               </tr>
                <tr>
                   <td><div class="input-group-text">WksAft</div></td>
                   <td><input class="form-control" type="text" name="waft" value={{nweeks[1]}}></td>
               </tr>
                <tr>
                <td>
                <button type="submit" class="btn btn-secondary" name="calupdate">Update</button>
                </td>
                <td>
                <button type="submit" class="btn btn-primary" name="Return">Return</button>
                </td>
                </tr>   
              </table>
               
            {% elif comm>0 and modlink==1 %}
                <p class="small">Modify Commidity List with ID {{modata.id}} 
                <input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
               
            {% elif comm>0 and modlink==3 %}
                <p class="small">Add a Commidity List based on ID {{modata.id}} 
                <input class="but btn-secondary btn-xs" type ="submit" name="Update" value="Update">&nbsp &nbsp <input class="but btn-primary btn-xs" type ="submit" name="Return" value="Return"></p>
               
            {% else %} 
               <table class="table table-striped table-condensed table-hover">
                <tr align="center">
                    <td> <button class="btn btn-primary btn-sm" type ="submit" name="Match">Match</button> </td>
                    <td> <button class="btn btn-primary btn-sm" type ="submit" name="Modify"> Q-Mod</button> </td>
                    <td> <button class="btn btn-primary btn-sm" type ="submit" name="Vmod"> V-Mod</button> </td>
                </tr>
                   <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button class="btn btn-danger btn-sm" type ="submit" name="Dockr"> DockR</button> </td>
                    <td> <button class="btn btn-danger btn-sm" type ="submit" name="MakeI"> iMake</button></td>
                    <td> <button class="btn btn-danger btn-sm" type ="submit" name="Delete"> Delete</button> </td>
                </tr>
                <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button type="submit" class="btn btn-secondary btn-sm" name="ViewO">oView</button></td>
                    <td> <button type="submit" class="btn btn-secondary btn-sm" name="ViewI">iView</button></td>
                    <td> <button type="submit" class="btn btn-secondary btn-sm" name="ViewD">dView</button></td>
                </tr>
                <tr><td colspan='3'>&nbsp</td></tr>
                <tr align="center">
                    <td> <button type="submit" class="btn btn-success btn-sm" name="NewJ">NewJ</button></td>
                    <td> <button type="submit" class="btn btn-success btn-sm" name="RecPay">Rec$</button></td>
                    <td> <button type="submit" class="btn btn-success btn-sm" name="HisPay">His$</button></td>
                </tr>   
                <tr><td colspan='3'>&nbsp</td></tr>   
                <tr><td colspan='3' align="center">
                <button class="but btn-warning btn-sm" type ="submit" name="Calendar">Calendar</button>
                <button class="but btn-secondary btn-sm" type ="submit" name="Return">Return</button></td></tr>
               </table>   

               <table>
                   <tr align="center">
                        <td>Instructions and General Information</td>
                   </tr>
                    
                    <tr align="center"><td>Status has 2-letter code</td></tr>
                    <tr align="left"><td>1st letter: paperwork progress</td></tr>
                    <tr align="left"><td>2nd letter: money progress</td></tr>
                    <tr align="left"><td>1st letter: J, B, E, D, A, R, N</td></tr>
                    <tr align="left"><td>J:Job Started, B: Job + Booking (Blue)</td></tr>
                    <tr align="left"><td>E:All Entities Selected (Green)</td></tr>
                    <tr align="left"><td>D:Dock Receipt created (Green)</td></tr>
                    <tr align="left"><td>A:Ship arrived at POD (Red)</td></tr>
                    <tr align="left"><td>R:Release has been received (Red)</td></tr>
                    <tr align="left"><td>N:Customer notified of release (Red)</td></tr>
                    <tr align="left"><td>2nd letter: N, I, R</td></tr>
                    <tr align="left"><td>N:Not Invoiced</td></tr>
                    <tr align="left"><td>I:Invoice created/sent</td></tr>
                    <tr align="left"><td>R:Funds received</td></tr>
               </table>
           {% endif %}
           </div>
       </div>
    
    
       <div class="row">
           <div class="col-sm-12">
               
                {% if ship > 0 and modlink == 1 %}
                <table class="table table-condensed table-hover">
                    <tbody>
                    <tr>
                        <td> <div class="input-group-text">Booking:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Booking}} name="booking"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Type of Move:</div></td>
                        <td>                       
                        <select class="form-control" type="text" name="movetype">
                        <option  {% if modata.Movetype == 'Ocean' %} selected {% endif %} value="Ocean"> Ocean </option>
                        <option  {% if modata.Movetype == 'Air' %} selected {% endif %} value="Air">  Air </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Direction:</div></td>
                        <td>                       
                        <select class="form-control" type="text" name="direction">
                        <option  {% if modata.Direction == 'Import' %} selected {% endif %} value="Import"> Import </option>
                        <option  {% if modata.Direction == 'Export' %} selected {% endif %} value="Export"> Export </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Basic Commodity:</div></td>
                        <td>                       
                        <select class="form-control" type="text" name="commodity">
                        <option  {% if modata.Commodity == 'AutoPlus' %} selected {% endif %} value="AutoPlus"> Auto(s) Plus HHG</option>
                        <option  {% if modata.Commodity == 'AutoOnly' %} selected {% endif %} value="AutoOnly"> Auto(s) Only </option>
                        <option  {% if modata.Commodity == 'HHG' %} selected {% endif %} value="HHG"> Household Goods Only </option>
                        <option  {% if modata.Commodity == 'AutoParts' %} selected {% endif %} value="AutoParts"> Auto Parts </option>
                        <option  {% if modata.Commodity == 'ATV' %} selected {% endif %} value="ATV"> Motorcycles/PWC/ATVs </option>
                        <option  {% if modata.Commodity == 'Medical' %} selected {% endif %} value="Medical"> Medical Supplies </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Port of Destination</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="pod" value="{{modata.Pod}}"></td>
                    </tr> 
                    <tr>
                        <td> <div class="input-group-text">Port of Loading</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="pol" value="{{modata.Pol}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Point of Origin</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="origin" value="{{modata.Origin}}"></td>
                    </tr> 
                    <tr>
                        <td> <div class="input-group-text">On/About Date:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value={{modata.ApptDate}} name="apptdate"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Containerized:</div></td>
                        <td>                       
                        <select class="form-control" type="text" name="containertype">
                        <option  {% if modata.ContainerType == 'None' %} selected {% endif %} value="None"> None </option>
                        <option  {% if modata.ContainerType == '20FT STD' %} selected {% endif %} value="20FT STD"> 20 STD </option>
                        <option  {% if modata.ContainerType == '40FT STD' %} selected {% endif %} value="40FT STD"> 40 STD </option>
                        <option  {% if modata.ContainerType == '40FT STD' %} selected {% endif %} value="40FT HC"> 40 HC </option>
                        <option  {% if modata.ContainerType == '45FT STD' %} selected {% endif %} value="45FT STD"> 45 STD </option>
                        <option  {% if modata.ContainerType == '45FT HC' %} selected {% endif %} value="45FT HC"> 45 HC </option>
                        <option  {% if modata.ContainerType == 'LCL' %} selected {% endif %}value="LCL"> LCL </option>
                        <option  {% if modata.ContainerType == 'RORO' %} selected {% endif %}value="RORO"> RORO </option>
                        </select>
                        </td>
                    </tr> 
                    <tr>
                        <td> <div class="input-group-text">Estimate:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Estimate}} name="estimate"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Charge:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Charge}} name="charge"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Person Paying:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Pid}} name="pid"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Commodity List:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.CommoList}} name="commolist"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">ExportID:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.ExportID}} name="exportid"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">ConsigID:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.ConsigID}} name="consigid"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">NotifyID:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.NotifyID}} name="notifyid"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Freight Forwarder ID</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="frforid" value="{{modata.FrForID}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Pre-Carry ID:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.PreCarryID}} name="precarryid"></td>                                   
                    </tr>
                                                
                    </tbody></table>  
                    <input type = "hidden" name ="ship" value= {{ship}}>
                    {% endif %}
               
               
                {% if book > 0 and modlink > 0 %}

                <table class="table table-condensed table-hover">
                    <tbody>                           
                    <tr>
                        <td> <div class="input-group-text">Booking</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="booking" value="{{modata.Booking}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Job Order</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="joborder" value="{{modata.Jo}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Export Reference</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="exportref" value="{{modata.ExportRef}}"></td>
                    </tr>
 
                    <tr>
                        <td> <div class="input-group-text">Vessel</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="vessel" value="{{modata.Vessel}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">ShipLine</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="shipline" value="{{modata.Line}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Load Port:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="load" value="{{modata.LoadPort}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Dest Port:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="dest" value="{{modata.Dest}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Port Cut-Off:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value={{modata.PortCut}} name="portcut"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Doc Cut-Off:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value={{modata.DocCut}} name="doccut"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Sail Date:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value={{modata.SailDate}} name="saildate"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Estimated Arrival:</div></td>
                        <td colspan="2"><input class="form-control" type="date" value={{modata.EstArr}} name="estarr"></td>                                   
                    </tr> 
                    <tr>
                        <td> <div class="input-group-text">Amount (COGS):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Amount}} name="amount"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Role/Type:</div></td>
                        <td>                       
                        <select class="form-control" type="text" name="reltype">
                        <option  {% if modata.RelType == 'telex' %} selected {% endif %} value="telex"> TELEX Release </option>
                        <option  {% if modata.RelType == 'seaway' %} selected {% endif %} value="seaway"> Seaway Bill </option>
                        </select>
                        </td>
                    </tr>         
                    <tr>
                        <td> <div class="input-group-text">AES:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.AES}} name="aes"></td>     
                    </tr>
                                                
                </tbody></table>  
                <input type = "hidden" name ="book" value= {{book}}>
                {% endif %}               
               
                {% if peep > 0 and modlink > 0 %}             
               
                <table class="table table-condensed table-hover">
                <tbody>
                    <tr>
                        <td> <div class="input-group-text">Role/Type:</div></td>
                        <td>                       
                        <select class="form-control" type="text" name="ptype">
                        <option  {% if modata.Ptype == 'Exporter' %} selected {% endif %} value="Exporter"> Exporter </option>
                        <option  {% if modata.Ptype == 'Consignee' %} selected {% endif %} value="Consignee"> Consignee </option>
                        <option  {% if modata.Ptype == 'Notify' %} selected {% endif %} value="Notify"> Notify </option>
                        <option  {% if modata.Ptype == 'FrFwd' %} selected {% endif %} value="FrFwd"> Freight Forwarder </option>
                        <option  {% if modata.Ptype == 'PreCarry' %} selected {% endif %} value="PreCarry"> Pre-Carriage Hauler </option>
                        <option  {% if modata.Ptype == 'Funder' %} selected {% endif %} value="Funder"> Funder </option>
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text" align="right">Company:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="company" value="{{modata.Company}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text" align="right">First Name:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="fname" value="{{modata.First}}"></td>
                    </tr>       
                    <tr>
                        <td align="right"> <div class="input-group-text">Mid Name(s):</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="mnames" value="{{modata.Middle}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Last Name:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="lname" value="{{modata.Last}}"></td>
                    </tr>  
                    <tr>
                        <td align="right"> <div class="input-group-text">Address Line1:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="addr1" value="{{modata.Addr1}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Address Line2:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="addr2" value="{{modata.Addr2}}"></td>
                    </tr>       
                    <tr>
                        <td align="right"> <div class="input-group-text">Address Line3:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="addr3" value="{{modata.Addr3}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">ID Type:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="idtype" value="{{modata.Idtype}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">ID Number:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="tid" value="{{modata.Idnumber}}"></td>
                    </tr>
                    <tr>
                        <td align="right"> <div class="input-group-text">Telephone:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="tel" value="{{modata.Telephone}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Email:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="email" value="{{modata.Email}}"></td>
                    </tr>
                    <tr>
                        <td align="right"> <div class="input-group-text">Associate 1:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="assoc1" value="{{modata.Associate1}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Associate 2:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="assoc2" value="{{modata.Associate2}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Date:</div></td> 
                        <td colspan="2"><input class="form-control" type="date" name="date1" value="{{modata.Date1}}"></td>
                    </tr>
                </tbody></table>  
                <input type = "hidden" name ="peep" value= {{peep}}>
                {% endif %}
               

               
                {% if auto > 0 and modlink > 0 %}             
               
                <table class="table table-condensed table-hover">
                <tbody>
                    <tr>
                        <td> <div class="input-group-text" align="right">JO:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="jo" value="{{modata.Jo}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text" align="right">Description:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="modelyear" value="{{modata.Year}}"></td>
                    </tr>       
                    <tr>
                        <td align="right"> <div class="input-group-text">Make:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="make" value="{{modata.Make}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Model:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="model" value="{{modata.Model}}"></td>
                    </tr>  
                    <tr>
                        <td align="right"> <div class="input-group-text">Color:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="color" value="{{modata.Color}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">VIN:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="vin" value="{{modata.VIN}}"></td>
                    </tr>       
                    <tr>
                        <td align="right"> <div class="input-group-text">Title No.:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="title" value="{{modata.Title}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">State:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="state" value="{{modata.State}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Empty Weight:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="weight" value="{{modata.EmpWeight}}"></td>
                    </tr>
                    <tr>
                        <td align="right"> <div class="input-group-text">Odometer:</div></td>
                        <td colspan="2"><input class="form-control" type="text" name="odometer" value="{{modata.Odometer}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Owner:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="owner" value="{{modata.Owner}}"></td>
                    </tr>
                </tbody></table>  
                <input type = "hidden" name ="auto" value= {{auto}}>
                {% endif %}
               
               
                {% if comm > 0 and modlink > 0 %}             
               
                <table class="table table-condensed table-hover">
                <tbody>
                    <tr>
                        <td> <div class="input-group-text" align="right">JO:</div></td> 
                        <td colspan="2"><input class="form-control" type="text" name="comjo" value="{{modata.Jo}}"></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text" align="right">Description:</div></td> 
                        <td colspan="2"><textarea class="form-control" type="text" name="comdesc" rows="4">{{modata.Description}}</textarea></td>
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Container:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Container}} name="container"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Seal:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Seal}} name="seal"></td>                                 
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">HS Code:</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Booking}} name="booking"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Origin(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Origin}} name="origin"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Destination(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Destination}} name="destination"></td>                                 
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Driver(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Driver}} name="driver"></td>                                 
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Truck(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Truck}} name="truck"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Miles(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Miles}} name="miles"></td>                                 
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">Cost(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="text" value={{modata.Cost}} name="cost"></td>                                   
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">StartTime(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="time" value={{modata.StartTime}} name="starttime"></td>                                 
                    </tr>
                    <tr>
                        <td> <div class="input-group-text">EndTime(opt):</div></td>
                        <td colspan="2"><input class="form-control" type="time" value={{modata.EndTime}} name="endtime"></td>                                   
                    </tr>
                </tbody></table>  
                <input type = "hidden" name ="comm" value= {{comm}}>
                {% endif %}
               
               
               
           </div></div>
     
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
</div>
    
    

</div>
</div>
</form>
    
{% endblock %}

