<!-- JQuery -->
<script type="text/javascript" src="tmp/js/jquery-3.3.1.min.js"></script>
{% if hv[0] > 0 %}

<canvas id="bar2"></canvas>

        <input type = "hidden" id="acct1id" value="{{ hv[11] }}">
        <input type = "hidden" id="accttime" value="{{ hv[12] }}">
        <script>
             var acct1 = document.getElementById("acct1id").value;
             var nmonths = document.getElementById("accttime").value;

             var getData = $.ajax({
                           url: "/chartdata",
                           type: "post",
                           data: {'thisacct' : acct1,
                                  'thesemonths' : nmonths}
                        });

             getData.done(function(results) {
                 var testdata = {
                           type: "bar",
                           data: {
                                labels: results.lablist,
                                datasets: []
                                  }
                            }

                for (var i = 0; i < results.labeld.length; i++) {
                    testdata.data.datasets.push({
                        label: results.labeld[i],
                        data: results.datad[i],
                        backgroundColor: results.rgba[i],
                        borderColor: results.rgb[i]
                    });
                };

                new Chart(document.getElementById("bar2"), testdata);
            });

        </script>

{% endif %}
