<!-- JQuery -->
<script type="text/javascript" src="tmp/js/jquery-3.3.1.min.js"></script>
{% if hv[5] > 0 %}

<canvas id="bar2"></canvas>

        <input type = "hidden" id="acct1id" value="{{ hv[6] }}">
        <script>
             var acct1 = document.getElementById("acct1id").value;

             var getData = $.ajax({
                           url: "/chartdata",
                           type: "post",
                           data: {'thisacct' : acct1}
                        });

             getData.done(function(results) {
                var mydata = {
                           type: "bar",
                           data: {
                                labels: results.lablist,
                                datasets: [
                                    {label: results.labeld[0], data: results.datad[0], backgroundColor:"rgba(54, 162, 235, 0.2)", borderColor: "rgb(54, 162, 235)"},
                                    {label: results.labeld[1], data: results.datad[1], backgroundColor:"rgba(54, 162, 235, 0.2)", borderColor: "rgb(54, 162, 235)"},
                                    ]
                                  }
                            }
                 var testdata = {
                           type: "bar",
                           data: {
                                labels: results.lablist,
                                datasets: []
                                  }
                            }

                for (var i = 0; i < results.labeld.length; i++) {
                    testdata.data.datasets.push({
                        label: results.labeld[i],
                        data: results.datad[i],
                        backgroundColor: "rgba(54, 162, 235, 0.2)",
                        borderColor: "rgb(54, 162, 235)"
                    });
                };

                new Chart(document.getElementById("bar2"), testdata);
            });

        </script>

{% endif %}
