{% extends 'layout_portal.html' %}

{% block body %}
{% set link = 'tmp/vorders/' + data.Path %}

<div class="table-responsive">
<table class="grid" cellspacing="0">

<tr align="center" style="font-weight:bold">
<td colspan="12">See and Correct Orders</td>
</tr>
<tr><td colspan="12"><hr/></td></tr>

<tr>
<td colspan="6">
<img src="tmp/vorders/{{data.Path}}" alt="image here"  width="{{zoom}}">
</td>

<td colspan="6" >
<form action="{{ url_for ('SeeOrder') }}" method="post">

<table class="table table-striped table-bordered table-condensed table-hover">
<tr align="center" style="font-weight:bold">
<td>JO</td>
<td>Load</td>
<td>Order</td>
</tr><tr>
<td align="center" >{{ data.Jo }}</td>
<td align="center" >{{ data.Load}}</td>
<td align="center" >{{ data.Order }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="jo" value="{{data.Jo}}"></td>
<td align="center" ><input class="col-12" type ="text" name="load" value="{{data.Load}}"></td>
<td align="center" ><input class="col-12" type ="text" name="o_order" value="{{data.Order}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Company</td>
<td>Booking</td>
<td>Pickup No.</td>
</tr><tr>
<td align="center" >{{ data.Company }}</td>
<td align="center" >{{ data.Booking }}</td>
<td align="center" >{{ data.Pickup }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="o_company" value="{{data.Company}}"></td>
<td align="center" ><input class="col-12" type ="text" name="o_book" value="{{data.Booking}}"></td>
<td align="center" ><input class="col-12" type ="text" name="o_pickup" value="{{data.Pickup}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Date</td>
<td>Time</td>
<td>Container</td>
</tr><tr>
<td align="center" >{{ data.Date }}</td>
<td align="center" >{{ data.Time }}</td>
<td align="center" >{{ data.Container }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="o_date" value="{{data.Date}}"></td>
<td align="center" ><input class="col-12" type ="text" name="o_time" value="{{data.Time}}"></td>
<td align="center" ><input class="col-12" type ="text" name="o_container" value="{{data.Container}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Chassis</td>
<td>Detention</td>
<td>Storage</td>
</tr><tr>
<td align="center" >{{ data.Chassis }}</td>
<td align="center" >{{ data.Detention }}</td>
<td align="center" >{{ data.Storage }}</td>
</tr><tr>
<td align="center" ><input class="col-8" type ="text" name="chassis" value="{{data.Chassis}}"></td>
<td align="center" ><input class="col-8" type ="text" name="detention" value="{{data.Detention}}"></td>
<td align="center" ><input class="col-8" type ="text" name="storage" value="{{data.Storage}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Line Haul Amount</td>
<td>Status</td>
<td>ID</td>
</tr><tr>
<td align="center" >{{ data.Amount }}</td>
<td align="center" >{{ data.Status }}</td>
<td align="center" ><input type ="hidden" name="o_CID" value="{{data.id}}">{{ data.id }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="amount" value="{{data.Amount}}"></td>
<td align="center" ><input class="col-12" type ="text" name="o_status" value="{{data.Status}}"></td>
<td align="center" ><input type ="hidden" name="inow" value="{{inow}}">Index:{{ inow }} of {{imax}}</td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="UP" value="Update"></td>
<td align="center" colspan="1"><input class="col-4" type ="submit" name="PI" value="<<Rev">
                               <input class="col-4" type ="submit" name="NI" value="Fwd>>"></td>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="GO" value="GoTo">
</td>
</tr>

<tr>
<td align="center" colspan="2">{{link}}</td>
<td align="center" colspan="1"><input class="col-6" type="text" name="order" value="{{data.Order}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr>
<td align="center" colspan="1">mm/dd/yyyy Format</td>
<td align="center" colspan="1">Srt Date:<input class="col-6" type ="text" name="sd" value={{sd}}></td>
<td align="center" colspan="1">End Date:  <input class="col-6" type ="text" name="ed" value={{ed}}></td>
</tr>

<tr><td colspan="3"> </td></tr>
<tr>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="zoomin" value="Zoom +"></td>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="zoomout" value="Zoom -"></td>
<td align="center" ><input type ="hidden" name="zoom" value="{{zoom}}">Zoom:{{ zoom}} </td>
</tr>
</form>

</table>
</td></tr>

</table>





</div>

{% endblock %}

