{% extends 'layout_portal.html' %}

{% block body %}
{% set link = 'tmp/vproofs/' + data.Path %}

<div class="table-responsive">
<table class="grid" cellspacing="0">

<tr align="center" style="font-weight:bold">
<td colspan="12">See and Correct Proofs</td>
</tr>
<tr><td colspan="12"><hr/></td></tr>

<tr>
<td colspan="6">
<img src="tmp/vproofs/{{data.Path}}" alt="image here"  width="{{zoom}}">
</td>

<td colspan="6" >
<form action="{{ url_for ('SeeProof') }}" method="post">

<table class="table table-striped table-bordered table-condensed table-hover">
<tr align="center" style="font-weight:bold">
<td>Order</td>
<td>Bill of Lading</td>
<td>Container</td>
</tr><tr>
<td align="center" >{{ data.Order }}</td>
<td align="center" >{{ data.BOL}}</td>
<td align="center" >{{ data.Container }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="p_order" value="{{data.Order}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_bol" value="{{data.BOL}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_container" value="{{data.Container}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Company</td>
<td>Booking</td>
<td>Location</td>
</tr><tr>
<td align="center" >{{ data.Company }}</td>
<td align="center" >{{ data.Booking }}</td>
<td align="center" >{{ data.Location }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="p_company" value="{{data.Company}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_book" value="{{data.Booking}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_location" value="{{data.Location}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Date</td>
<td>Time</td>
<td>Driver</td>
</tr><tr>
<td align="center" >{{ data.Date }}</td>
<td align="center" >{{ data.Time }}</td>
<td align="center" >{{ data.Driver }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="text" name="p_date" value="{{data.Date}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_time" value="{{data.Time}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_driver" value="{{data.Driver}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr align="center" style="font-weight:bold">
<td>Path</td>
<td>Status</td>
<td>ID</td>
</tr><tr>
<td align="center" >{{ data.Path }}</td>
<td align="center" >{{ data.Status }}</td>
<td align="center" ><input type ="hidden" name="p_CID" value="{{data.id}}">{{ data.id }}</td>
</tr><tr>
<td align="center" ><input class="col-12" type ="hidden" name="p_path" value="{{data.Path}}"></td>
<td align="center" ><input class="col-12" type ="text" name="p_status" value="{{data.Status}}"></td>
<td align="center" ><input type ="hidden" name="inow" value="{{inow}}">Index:{{ inow }} of {{imax}}</td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="UP" value="Update"></td>
<td align="center" colspan="1"><input class="col-4" type ="submit" name="PI" value="<<Rev">
                               <input class="col-4" type ="submit" name="NI" value="Fwd>>"></td>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="GO" value="GoTo">
</td>
</tr>

<tr>
<td align="center" colspan="2">{{link}}</td>
<td align="center" colspan="1"><input class="col-6" type="text" name="bol" value="{{data.BOL}}"></td>
</tr>

<tr><td colspan="3"> </td></tr>

<tr>
<td align="center" colspan="1">mm/dd/yyyy Format</td>
<td align="center" colspan="1">Srt Date:<input class="col-6" type ="text" name="sd" value={{sd}}></td>
<td align="center" colspan="1">End Date:  <input class="col-6" type ="text" name="ed" value={{ed}}></td>
</tr>


<tr><td colspan="3"> </td></tr>


<tr>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="zoomin" value="Zoom +"></td>
<td align="center" colspan="1"><input class="col-6" type ="submit" name="zoomout" value="Zoom -"></td>
<td align="center" ><input type ="hidden" name="zoom" value="{{zoom}}">Zoom:{{ zoom}} </td>
</tr>
</form>

</table>
</td></tr>

</table>





</div>

{% endblock %}

