<br>
<div class="card">
<div class="card-header">
Adding New Service
</div>
<div class="card-body">

<table class="table table-condensed table-hover">
<tbody>
<tr>
<td> <div class="input-group-text" align="right">Service:</div></td>
<td colspan="2"><input class="form-control" type="text" name="service" value="{{modata.Service}}"></td>
</tr>
<tr>
<td> <div class="input-group-text" align="right">Price EA:</div></td>
<td colspan="2"><input class="form-control" type="text" name="price" value="{{modata.Price}}"></td>
</tr>
</tbody></table>
<input type = "hidden" name ="serv" value= {{serv}}>
{% include 'includes/_button_upd_ret.html' %}


</div>
</div>