<div class="row">
{% if leftsize > 6 or stamp==1 %}
<div class="col-sm-5" align="right">
    {% if emaildata %}
        {% include 'includes/emailprep.html' %}
    {% elif modlink == 4 %}
        <br>
        {% include 'includes/_uploadsourcedocs.html' %}

    {% else %}
        Text version of file {{leftsize}}{{rightsize}}{{mm1}}:<br>
        <embed src="{{doctxt}}" width="400px" height="650px"/>
    {% endif %}
</div>
{% endif %}
<div class="col-sm-7" align="center">
Looking for: {{docref}}<br>
{% if rightsize == 4 %}
{% set wide = "550px" %}
{% else %}
{% set wide = "650pm" %}
{% endif %}
<embed src="{{docref}}" width={{wide}} height="800px"/>
</div>
</div>

<input type = "hidden" name ="datatable1" value= "{{dlist[0]}}">
<input type = "hidden" name ="datatable2" value= "{{dlist[1]}}">
<input type = "hidden" name ="datatable3" value= "{{dlist[2]}}">
<input type = "hidden" name ="datatable4" value= "{{dlist[3]}}">