{% include 'includes/_controlpanelheader.html' %}
<br>
<div class="card">
<div class="card-header">
        <div class="d-flex justify-content-around align-items-center">
        <div class="p-0">Enter Account Transfer Information</div>
        <div class="p-0">
            <button type="submit" class="btn btn-md btn-green" name="ThisXfer"
                    data-toggle="tooltip" title="Create the Bill with Information in Form"><b>Create<br>New Bill</b></button>
            <button type="submit" class="btn btn-md btn-elegant" name="Return"
                    data-toggle="tooltip" title="Reset everything to the start screen"><b>Cancel<br>& Return</b></button>
        </div>
    </div>
</div>

<div class="card-body">


<table class="table table-condensed table-hover">
    <tbody>
        <tr>
            <td><div class="input-group-text">From Account:</div></td>
            <td>
                <select class="form-control" type="text" name="fromacct" onchange="this.form.submit()">
                <option selected value='1'>Choose Later</option>
                {% for data in expdata %}
                <option {% if vdata[4] == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                {% endfor %}</select>
            </td>
        </tr>
        <tr>
            <td><div class="input-group-text">To Account:</div></td>
            <td>
                <select class="form-control" type="text" name="toacct" onchange="this.form.submit()">
                <option selected value='1'>Choose Later</option>
                {% for data in expdata %}
                <option {% if vdata[5] == data.Name %} selected {% endif %} value="{{data.Name}}" > {{data.Name}} </option>
                {% endfor %}</select>
            </td>
        </tr>
        <tr>
            <td><div class="input-group-text">Transfer Amount:</div></td>
            <td><input class="form-control" type="text" name="xamt" value="{{vdata[2]}}"></td>
        </tr>
        <tr>
            <td><div class="input-group-text">Transfer Date:</div></td>
            <td><input class="form-control" type="date" name="bdate" value="{{vdata[0]}}"></td>
        </tr>
        <tr>
            <td><div class="input-group-text">Transfer Description:</div></td>
            <td><textarea class="form-control" type="text" name="xdesc" rows="3">{{vdata[3]}}</textarea></td>
        </tr>
    </tbody>
</table>
</div>
</div>



